WF-WD-06-production-deploy.json
{
    "name": "WF-WD-06: Production Deploy",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "=GET",
                "path": "deploy-production",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -600,
                300
            ],
            "id": "webhook-deploy",
            "name": "Webhook - Deploy Production",
            "webhookId": "deploy-production"
        },
        {
            "parameters": {
                "operation": "select",
                "query": "SELECT * FROM projects WHERE project_ref = :ref",
                "options": {
                    "queryBatching": "independently",
                    "queryReplacement": "={{ { ref: $json.query?.ref || $json.body?.project_ref } }}"
                }
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                -360,
                300
            ],
            "id": "mysql-get-project",
            "name": "MySQL - Get Project + DA Creds",
            "credentials": {
                "mySql": {
                    "id": "YOUR_MYSQL_CREDENTIAL_ID",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.hosting_status }}",
                            "rightValue": "Provisioned",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -120,
                300
            ],
            "id": "if-hosting-ready",
            "name": "IF Hosting Provisioned?"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Error - Mtronika</title>\n    <style>\n        body { font-family: 'Segoe UI', sans-serif; background: #dc3545; min-height: 100vh; display: flex; align-items: center; justify-content: center; margin: 0; }\n        .card { background: white; padding: 50px; border-radius: 20px; text-align: center; max-width: 450px; }\n        .icon { font-size: 60px; margin-bottom: 20px; }\n        h1 { color: #dc3545; margin: 0 0 15px; }\n        p { color: #666; line-height: 1.6; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"icon\">❌</div>\n        <h1>Hosting Not Ready</h1>\n        <p>Cannot deploy - hosting has not been provisioned yet. Please ensure WF-WD-HOSTING has completed successfully.</p>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 400,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -120,
                500
            ],
            "id": "respond-error",
            "name": "Respond - Hosting Not Ready"
        },
        {
            "parameters": {
                "jsCode": "// WF-WD-06: Prepare files for DirectAdmin upload\n\nconst project = $json;\n\n// Get the processed HTML from database\nconst htmlContent = project.processed_html || '<html><body><h1>Coming Soon</h1></body></html>';\n\n// Create index.html file content (base64 encoded for upload)\nconst indexHtmlBase64 = Buffer.from(htmlContent).toString('base64');\n\n// Domain without www\nconst domain = (project.domain_name || '').replace(/^www\\./, '');\n\nreturn {\n  json: {\n    project_ref: project.project_ref,\n    client_name: project.client_name,\n    client_email: project.client_email,\n    da_username: project.da_username,\n    domain: domain,\n    indexHtmlBase64,\n    uploadPath: `/domains/${domain}/public_html/`,\n    files: [\n      { name: 'index.html', content: indexHtmlBase64 }\n    ]\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                120,
                300
            ],
            "id": "prepare-files",
            "name": "Prepare Files for Upload"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://inqaba.dotnetz.co.za:2222/CMD_API_FILE_MANAGER",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "upload"
                        },
                        {
                            "name": "path",
                            "value": "={{ $json.uploadPath }}"
                        },
                        {
                            "name": "file1",
                            "value": "={{ $json.indexHtmlBase64 }}"
                        }
                    ]
                },
                "options": {
                    "retry": {
                        "maxTries": 3,
                        "waitBetweenTries": 5000
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                360,
                300
            ],
            "id": "da-upload-files",
            "name": "DirectAdmin - Upload Files",
            "credentials": {
                "httpBasicAuth": {
                    "id": "YOUR_DIRECTADMIN_CREDENTIAL_ID",
                    "name": "DirectAdmin - inqaba"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://{{ $('Prepare Files for Upload').item.json.domain }}",
                "options": {
                    "timeout": 30000,
                    "retry": {
                        "maxTries": 3,
                        "waitBetweenTries": 5000
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                600,
                300
            ],
            "id": "verify-site",
            "name": "Verify Site is Live"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.statusCode || 200 }}",
                            "rightValue": "200",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                840,
                300
            ],
            "id": "if-site-live",
            "name": "IF Site Returns 200?"
        },
        {
            "parameters": {
                "operation": "update",
                "table": {
                    "__rl": true,
                    "value": "projects",
                    "mode": "list",
                    "cachedResultName": "projects"
                },
                "dataMode": "defineBelow",
                "columnToMatchOn": "project_ref",
                "valueToMatchOn": "={{ $('Prepare Files for Upload').item.json.project_ref }}",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "status",
                            "value": "Live"
                        },
                        {
                            "column": "deployed_at",
                            "value": "={{ new Date().toISOString().slice(0, 19).replace('T', ' ') }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1080,
                200
            ],
            "id": "mysql-update-live",
            "name": "MySQL - Set Live",
            "credentials": {
                "mySql": {
                    "id": "YOUR_MYSQL_CREDENTIAL_ID",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "={{ $('Prepare Files for Upload').item.json.client_email }}",
                "subject": "=🎉 Your Website is LIVE! - {{ $('Prepare Files for Upload').item.json.domain }}",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>Website is Live!</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: 'Helvetica Neue', sans-serif;\">\n<div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 40px; text-align: center;\">\n        <h1 style=\"color: white; margin: 0; font-size: 32px;\">🎉 Your Website is LIVE!</h1>\n    </div>\n\n    <div style=\"padding: 40px; color: #333; line-height: 1.6; text-align: center;\">\n        <p style=\"font-size: 18px;\">Congratulations! Your new website is now online and ready for the world to see.</p>\n        \n        <div style=\"background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); padding: 30px; border-radius: 15px; margin: 30px 0;\">\n            <p style=\"color: white; margin: 0 0 10px; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">Your Website URL</p>\n            <a href=\"https://{{ $('Prepare Files for Upload').item.json.domain }}\" \n               style=\"color: white; text-decoration: none; font-size: 24px; font-weight: bold; word-break: break-all;\">\n               {{ $('Prepare Files for Upload').item.json.domain }}\n            </a>\n        </div>\n        \n        <div style=\"text-align: left; background: #f8f9fa; padding: 25px; border-radius: 10px; margin-bottom: 30px;\">\n            <h3 style=\"margin: 0 0 15px; color: #333;\">📋 What's Next?</h3>\n            <ul style=\"margin: 0; padding-left: 20px; color: #666;\">\n                <li style=\"margin-bottom: 10px;\">Share your new website on social media</li>\n                <li style=\"margin-bottom: 10px;\">Add it to your business cards and marketing materials</li>\n                <li style=\"margin-bottom: 10px;\">Set up Google My Business with your new URL</li>\n                <li>Let us know if you need any changes!</li>\n            </ul>\n        </div>\n        \n        <a href=\"https://{{ $('Prepare Files for Upload').item.json.domain }}\" \n           style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 18px 50px; text-decoration: none; border-radius: 50px; font-weight: bold; font-size: 18px; display: inline-block;\">\n           🌐 Visit Your Website\n        </a>\n        \n        <p style=\"margin-top: 30px; color: #999; font-size: 14px;\">\n            Need changes or support? Reply to this email or WhatsApp us at 068 608 8321\n        </p>\n    </div>\n\n    <div style=\"background: #f4f4f4; padding: 20px; text-align: center; font-size: 12px; color: #888;\">\n        <p style=\"margin: 5px 0;\">Project: {{ $('Prepare Files for Upload').item.json.project_ref }}</p>\n        <p style=\"margin: 5px 0;\">&copy; 2026 Mtronika - Joy in Every Click</p>\n    </div>\n\n</div>\n</body>\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1320,
                200
            ],
            "id": "send-email-client",
            "name": "Send Email - Site Live!",
            "credentials": {
                "smtp": {
                    "id": "YOUR_SMTP_CREDENTIAL_ID",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Deployed! - Mtronika</title>\n    <style>\n        body { font-family: 'Segoe UI', sans-serif; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); min-height: 100vh; display: flex; align-items: center; justify-content: center; margin: 0; }\n        .card { background: white; padding: 60px; border-radius: 20px; text-align: center; box-shadow: 0 25px 50px rgba(0,0,0,0.2); max-width: 500px; }\n        .icon { font-size: 80px; margin-bottom: 20px; animation: pop 0.5s ease; }\n        @keyframes pop { 0% { transform: scale(0); } 50% { transform: scale(1.2); } 100% { transform: scale(1); } }\n        h1 { color: #28a745; margin: 0 0 10px; }\n        .domain { background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: white; padding: 15px 30px; border-radius: 10px; font-size: 18px; font-weight: bold; margin: 20px 0; display: inline-block; }\n        p { color: #666; line-height: 1.6; margin: 0 0 25px; }\n        .btn { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 15px 35px; border-radius: 50px; text-decoration: none; font-weight: bold; display: inline-block; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"icon\">🚀</div>\n        <h1>Successfully Deployed!</h1>\n        <div class=\"domain\">{{ $('Prepare Files for Upload').item.json.domain }}</div>\n        <p>The website is now live! The client has been notified via email.</p>\n        <a href=\"https://{{ $('Prepare Files for Upload').item.json.domain }}\" class=\"btn\" target=\"_blank\">🌐 View Live Site</a>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1320,
                60
            ],
            "id": "respond-success",
            "name": "Respond - Deploy Success"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Deploy Issue - Mtronika</title>\n    <style>\n        body { font-family: 'Segoe UI', sans-serif; background: #ffc107; min-height: 100vh; display: flex; align-items: center; justify-content: center; margin: 0; }\n        .card { background: white; padding: 50px; border-radius: 20px; text-align: center; max-width: 500px; }\n        .icon { font-size: 60px; margin-bottom: 20px; }\n        h1 { color: #856404; margin: 0 0 15px; }\n        p { color: #666; line-height: 1.6; }\n        .btn { background: #6c757d; color: white; padding: 12px 25px; border-radius: 50px; text-decoration: none; font-weight: bold; display: inline-block; margin-top: 20px; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"icon\">⚠️</div>\n        <h1>Site Not Responding</h1>\n        <p>Files were uploaded but the site isn't returning a 200 OK response. This could be a DNS propagation delay or configuration issue.</p>\n        <p><strong>Domain:</strong> {{ $('Prepare Files for Upload').item.json.domain }}</p>\n        <a href=\"https://{{ $('Prepare Files for Upload').item.json.domain }}\" class=\"btn\" target=\"_blank\">Try Visiting Site</a>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1080,
                400
            ],
            "id": "respond-warning",
            "name": "Respond - Site Not Responding"
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "website-orders@mtronika.co.za",
                "subject": "=🚀 DEPLOYED: {{ $('Prepare Files for Upload').item.json.project_ref }} is now LIVE!",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>Deployment Complete</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: 'Helvetica Neue', sans-serif;\">\n<div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n\n    <div style=\"background: linear-gradient(135deg, #28a745 0%, #20c997 100%); padding: 25px; text-align: center;\">\n        <h2 style=\"color: white; margin: 0;\">🚀 DEPLOYMENT COMPLETE</h2>\n    </div>\n\n    <div style=\"padding: 30px; color: #333; line-height: 1.6;\">\n        <h3 style=\"color: #28a745; margin-top: 0;\">{{ $('Prepare Files for Upload').item.json.client_name }}</h3>\n        \n        <div style=\"background: #d4edda; padding: 20px; border-radius: 8px; text-align: center; margin-bottom: 25px;\">\n            <p style=\"margin: 0 0 10px; font-size: 14px; color: #155724;\">LIVE URL</p>\n            <a href=\"https://{{ $('Prepare Files for Upload').item.json.domain }}\" style=\"color: #155724; font-size: 20px; font-weight: bold; text-decoration: none;\">{{ $('Prepare Files for Upload').item.json.domain }}</a>\n        </div>\n        \n        <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n            <tr>\n                <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Project:</td>\n                <td style=\"padding: 8px 0;\">{{ $('Prepare Files for Upload').item.json.project_ref }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Status:</td>\n                <td style=\"padding: 8px 0; color: #28a745; font-weight: bold;\">✅ LIVE</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Client Notified:</td>\n                <td style=\"padding: 8px 0;\">Yes (via email)</td>\n            </tr>\n        </table>\n        \n        <p style=\"color: #28a745; font-weight: bold; text-align: center;\">🎉 Another happy customer!</p>\n    </div>\n\n    <div style=\"background: #f4f4f4; padding: 15px; text-align: center; font-size: 12px; color: #888;\">\n        Automated Deployment by Mtronika v3.0\n    </div>\n\n</div>\n</body>\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1320,
                340
            ],
            "id": "send-email-admin",
            "name": "Send Email - Admin Notification",
            "credentials": {
                "smtp": {
                    "id": "YOUR_SMTP_CREDENTIAL_ID",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "content": "## WF-WD-06: Production Deploy\n\n**Purpose:** Upload final site to DirectAdmin hosting\n\n**Flow:**\n1. Check hosting is provisioned\n2. Prepare files (get processed_html from DB)\n3. Upload to DirectAdmin via API\n4. Verify site returns 200 OK\n5. Update status to 'Live'\n6. Email client + admin\n\n**Trigger:** Admin clicks 'Deploy' in QA Passed email",
                "height": 300,
                "width": 350,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -600,
                20
            ],
            "typeVersion": 1,
            "id": "sticky-note-1",
            "name": "Sticky Note - Overview"
        },
        {
            "parameters": {
                "content": "## Database Field Required\n\nAdd column to track deployment:\n\n```sql\nALTER TABLE projects\nADD COLUMN deployed_at DATETIME;\n```",
                "height": 160,
                "width": 280,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -200,
                20
            ],
            "typeVersion": 1,
            "id": "sticky-note-2",
            "name": "Sticky Note - Schema"
        }
    ],
    "connections": {
        "Webhook - Deploy Production": {
            "main": [
                [
                    {
                        "node": "MySQL - Get Project + DA Creds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Get Project + DA Creds": {
            "main": [
                [
                    {
                        "node": "IF Hosting Provisioned?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Hosting Provisioned?": {
            "main": [
                [
                    {
                        "node": "Prepare Files for Upload",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Hosting Not Ready",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Files for Upload": {
            "main": [
                [
                    {
                        "node": "DirectAdmin - Upload Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DirectAdmin - Upload Files": {
            "main": [
                [
                    {
                        "node": "Verify Site is Live",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verify Site is Live": {
            "main": [
                [
                    {
                        "node": "IF Site Returns 200?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Site Returns 200?": {
            "main": [
                [
                    {
                        "node": "MySQL - Set Live",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Site Not Responding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Set Live": {
            "main": [
                [
                    {
                        "node": "Respond - Deploy Success",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send Email - Site Live!",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send Email - Admin Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "mtronika-web-design-wf-wd-06"
    }
}