WF-WD-03-client-acceptance.json
{
    "nodes": [
        {
            "parameters": {
                "path": "accept-proposal",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -848,
                880
            ],
            "id": "959f5138-b30a-4bcc-86d8-5d8b1e1237b1",
            "name": "Webhook - Accept Proposal",
            "webhookId": "accept-proposal"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM projects \nWHERE project_ref = '{{ $json.query.ref }}' \nLIMIT 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                -608,
                880
            ],
            "id": "1b100251-f36a-493f-9f8b-5618d281670e",
            "name": "MySQL - Get Project",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Generate confirmation token (Safe Version - No Crypto Module)\nconst project = $json;\n\n// 1. Simple Random Token Generator\nconst generateToken = (length) => {\n    const chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\n    let token = '';\n    for (let i = 0; i < length; i++) {\n        token += chars.charAt(Math.floor(Math.random() * chars.length));\n    }\n    return token;\n};\n\nconst token = generateToken(32); // 32 characters long\nconst expiresAt = new Date(Date.now() + 24 * 60 * 60 * 1000); // 24 hours from now\n\n// 2. Return the data\nreturn {\n  json: {\n    ...project,\n    confirmation_token: token,\n    token_expires: expiresAt.toISOString(),\n    confirm_url: `https://omo.mtronika.co.za/webhook/confirm-acceptance?ref=${project.project_ref}&token=${token}`\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -368,
                880
            ],
            "id": "0fd37fd0-2dcd-4757-9c59-aab2e777c081",
            "name": "Generate Confirmation Token"
        },
        {
            "parameters": {
                "operation": "update",
                "table": {
                    "__rl": true,
                    "value": "projects",
                    "mode": "list",
                    "cachedResultName": "projects"
                },
                "dataMode": "defineBelow",
                "columnToMatchOn": "project_ref",
                "valueToMatchOn": "={{ $json.project_ref }}",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "confirmation_token",
                            "value": "={{ $json.confirmation_token }}"
                        },
                        {
                            "column": "token_expires",
                            "value": "={{ $json.token_expires.slice(0, 19).replace('T', ' ') }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                -128,
                880
            ],
            "id": "e2288aaa-8228-481d-8960-a75ca7655ae2",
            "name": "MySQL - Save Token",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Confirm Proposal - Mtronika</title>\n    <style>\n        /* Mtronika Brand Colors: Red/Orange Gradient */\n        body { \n            font-family: 'Segoe UI', Tahoma, sans-serif; \n            background: linear-gradient(135deg, #ff0000 0%, #ff6600 100%); \n            min-height: 100vh; \n            display: flex; \n            align-items: center; \n            justify-content: center; \n            margin: 0; \n            padding: 20px; \n            box-sizing: border-box; \n        }\n        \n        .card { \n            background: white; \n            padding: 50px; \n            border-radius: 20px; \n            text-align: center; \n            box-shadow: 0 25px 50px rgba(0,0,0,0.25); \n            max-width: 550px; \n            width: 100%; \n            position: relative;\n            overflow: hidden;\n        }\n\n        /* Top decorative bar */\n        .card::before {\n            content: \"\";\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 8px;\n            background: linear-gradient(90deg, #ff0000, #ff6600);\n        }\n\n        .logo {\n            max-width: 150px;\n            margin-bottom: 20px;\n        }\n\n        .icon { \n            font-size: 60px; \n            margin-bottom: 15px; \n            animation: bounce 2s infinite;\n        }\n\n        @keyframes bounce {\n            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}\n            40% {transform: translateY(-10px);}\n            60% {transform: translateY(-5px);}\n        }\n\n        h1 { \n            color: #333; \n            margin: 0 0 10px; \n            font-size: 28px; \n            font-weight: 800;\n        }\n\n        h2 { \n            color: #ff6600; /* Mtronika Orange */\n            margin: 0 0 25px; \n            font-size: 20px; \n            font-weight: normal; \n        }\n\n        .summary { \n            background: #fff5f0; /* Light Orange Tint */\n            padding: 25px; \n            border-radius: 12px; \n            text-align: left; \n            margin-bottom: 30px; \n            border: 1px solid #ffe0d0;\n        }\n\n        .summary-row { \n            display: flex; \n            justify-content: space-between; \n            padding: 10px 0; \n            border-bottom: 1px dashed #ffccaa; \n        }\n\n        .summary-row:last-child { \n            border-bottom: none; \n        }\n\n        .label { \n            color: #666; \n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n\n        .value { \n            font-weight: bold; \n            color: #333; \n        }\n\n        .btn { \n            background: linear-gradient(135deg, #ff0000 0%, #ff6600 100%); \n            color: white; \n            padding: 20px 40px; \n            border-radius: 50px; \n            text-decoration: none; \n            font-weight: bold; \n            font-size: 18px; \n            display: inline-block; \n            border: none; \n            cursor: pointer; \n            transition: all 0.3s ease; \n            box-shadow: 0 10px 20px rgba(255, 102, 0, 0.3);\n        }\n\n        .btn:hover { \n            transform: translateY(-3px) scale(1.02); \n            box-shadow: 0 15px 30px rgba(255, 0, 0, 0.4); \n        }\n\n        .warning { \n            background: #f8f9fa; \n            color: #666; \n            padding: 15px; \n            border-radius: 8px; \n            font-size: 13px; \n            margin-top: 25px; \n            border-left: 4px solid #ff6600;\n        }\n\n        .footer { \n            margin-top: 30px; \n            color: #aaa; \n            font-size: 12px; \n        }\n        \n        .footer a {\n            color: #ff6600;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" alt=\"Mtronika\" class=\"logo\">\n        \n        <h1>Ready to Start Your Project?</h1>\n        <h2>{{ $('MySQL - Get Project').item.json.client_name }}</h2>\n        \n        <div class=\"summary\">\n            <div class=\"summary-row\">\n                <span class=\"label\">Project Ref</span>\n                <span class=\"value\">{{ $('MySQL - Get Project').item.json.project_ref }}</span>\n            </div>\n            <div class=\"summary-row\">\n                <span class=\"label\">Package</span>\n                <span class=\"value\">{{ $('MySQL - Get Project').item.json.package_tier }}</span>\n            </div>\n            <div class=\"summary-row\">\n                <span class=\"label\">Delivery Date</span>\n                <span class=\"value\">{{ $('MySQL - Get Project').item.json.due_date }}</span>\n            </div>\n        </div>\n        \n        <a href=\"{{ $('Generate Confirmation Token').item.json.confirm_url }}\" class=\"btn\">✅ Yes, Start Building My Website</a>\n        \n        <div class=\"warning\">\n            ⚠️ <strong>One last check:</strong> By clicking above, you confirm the scope of work and agree to Mtronika's terms of service.\n        </div>\n        \n        <div class=\"footer\">\n            This secure link expires in 24 hours.<br>\n            Need help? WhatsApp us at <a href=\"https://wa.me/27686088321\">068 608 8321</a>\n        </div>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                112,
                880
            ],
            "id": "f10ef74e-3885-4676-a81a-7599fb9bc368",
            "name": "Respond - Confirmation Page"
        },
        {
            "parameters": {
                "path": "confirm-acceptance",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -848,
                1168
            ],
            "id": "4fd38a48-e0f0-4df5-8c57-8254559d1ec9",
            "name": "Webhook - Confirm Acceptance",
            "webhookId": "confirm-acceptance"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM projects \nWHERE TRIM(confirmation_token) = TRIM('{{ $json.query.token.trim() }}') \nAND token_expires > NOW()\nAND status != 'Active'\nLIMIT 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                -608,
                1168
            ],
            "id": "a91e7bd3-999f-491e-9ee2-227cbe97ca64",
            "name": "MySQL - Validate Token",
            "alwaysOutputData": true,
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.project_ref }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            },
                            "id": "75bba956-f199-452b-bc13-630bebda612b"
                        },
                        {
                            "id": "4ff7e4f8-9bf7-4f1c-bfe8-7fdcf9f9b4de",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -368,
                1168
            ],
            "id": "6362d653-371b-4f6c-bf7d-4eb2c0dcce31",
            "name": "IF Token Valid?",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Invalid Link - Mtronika</title>\n    <style>\n        body { font-family: 'Segoe UI', sans-serif; background: #f44336; min-height: 100vh; display: flex; align-items: center; justify-content: center; margin: 0; }\n        .card { background: white; padding: 50px; border-radius: 20px; text-align: center; max-width: 450px; }\n        .icon { font-size: 60px; margin-bottom: 20px; }\n        h1 { color: #f44336; margin: 0 0 15px; }\n        p { color: #666; line-height: 1.6; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"icon\">❌</div>\n        <h1>Invalid or Expired Link</h1>\n        <p>This confirmation link is invalid or has expired. Please check your email for the latest proposal link, or contact us at 068 608 8321.</p>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 400,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -368,
                1376
            ],
            "id": "dd6ca1cc-7b9c-4cd8-b684-8256d8b312ff",
            "name": "Respond - Invalid Token"
        },
        {
            "parameters": {
                "operation": "update",
                "table": {
                    "__rl": true,
                    "value": "projects",
                    "mode": "list",
                    "cachedResultName": "projects"
                },
                "dataMode": "defineBelow",
                "columnToMatchOn": "project_ref",
                "valueToMatchOn": "={{ $('MySQL - Validate Token').item.json.project_ref }}",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "drive_link",
                            "value": "=https://drive.google.com/drive/folders/{{ $('Google Drive - Create Folder').item.json.id }}"
                        },
                        {
                            "column": "status",
                            "value": "Active"
                        },
                        {
                            "column": "confirmation_token"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                352,
                1168
            ],
            "id": "45d3d6bf-9771-4748-af58-35363b7e77c8",
            "name": "MySQL - Set Active",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "={{ $('MySQL - Validate Token').item.json.client_email }}",
                "subject": "=🚀 Let's Build! Upload Your Content Here - {{ $('MySQL - Validate Token').item.json.project_ref }}",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Project Kickoff</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif; line-height: 1.6; color: #333333;\">\n<div style=\"width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4;\">\n\n    <div style=\"text-align: center; padding: 20px 0;\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" \n             alt=\"Mtronika - Joy in Every Click\" \n             style=\"max-width: 180px; width: 100%; height: auto; display: inline-block;\" />\n    </div>\n\n    <div style=\"background: linear-gradient(135deg, #ff0000, #ff6600); color: white; padding: 25px 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">🚀 Your Project is Live!</h1>\n        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Ref: {{ $('MySQL - Validate Token').item.json.project_ref }}</p>\n    </div>\n\n    <div style=\"background: #ffffff; padding: 30px; border-radius: 0 0 8px 8px;\">\n        \n        <p>Hi {{ $('MySQL - Validate Token').item.json.client_name.split(' ')[0] }},</p>\n        \n        <p>Great news! We've set up a shared Google Drive folder for your project. This is where the magic starts.</p>\n        \n        <div style=\"background: #ffffff; padding: 20px; border-radius: 8px; border-left: 4px solid #ff6600; margin: 25px 0; box-shadow: 0 2px 5px rgba(0,0,0,0.05);\">\n            <p style=\"margin: 0 0 10px; font-weight: bold; color: #ff6600;\">Please upload these items:</p>\n            <ul style=\"margin: 0; padding-left: 20px; color: #333;\">\n                <li style=\"margin-bottom: 5px;\"><strong>Logo files</strong> (PNG, SVG, or AI preferred)</li>\n                <li style=\"margin-bottom: 5px;\"><strong>Photos</strong> of your business, team, or products</li>\n                <li style=\"margin-bottom: 5px;\"><strong>Text content</strong> for pages (About, Services, etc.)</li>\n                <li><strong>Any other materials</strong> you'd like on your site</li>\n            </ul>\n        </div>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"https://drive.google.com/drive/folders/{{ $('Google Drive - Create Folder').item.json.id }}\" \n               style=\"background: linear-gradient(135deg, #ff0000, #ff6600); color: white; padding: 16px 32px; text-decoration: none; border-radius: 50px; font-weight: bold; display: inline-block; font-size: 16px;\">\n               📁 Open Your Project Folder\n            </a>\n        </div>\n        \n        <div style=\"background: #f9f9f9; padding: 20px; border-radius: 8px; border-left: 4px solid #ff0000; margin-top: 25px;\">\n            <h3 style=\"margin: 0 0 10px; color: #ff0000; font-size: 18px; border-bottom: 0;\">📞 What happens next?</h3>\n            <p style=\"margin: 0; font-size: 14px;\">Our design team will review your materials and start building. We'll keep you updated via WhatsApp and email.</p>\n        </div>\n\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; color: #777777; font-size: 12px;\">\n        <p style=\"margin: 5px 0;\">Need help? WhatsApp 068 608 8321</p>\n        <p style=\"margin: 5px 0;\">© 2026 Mtronika - Joy in Every Click</p>\n    </div>\n\n</div>\n</body>\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                592,
                1168
            ],
            "id": "721ab0de-fb18-476b-9019-3ac7dc647953",
            "name": "Send Email - Kickoff",
            "webhookId": "d0e0253e-e562-47b1-b36b-dc87de7415df",
            "credentials": {
                "smtp": {
                    "id": "TvYLDVjPK9MEHOk9",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "phoneNumberId": "911618885374326",
                "recipientPhoneNumber": "={{ $('MySQL - Validate Token').item.json.client_phone.replace(/^0/, '27') }}",
                "textBody": "={{ \"Hi \" + $('MySQL - Validate Token').item.json.client_name.split(' ')[0] + \"! Your project \" + $('MySQL - Validate Token').item.json.project_ref + \" is now active.\\n\\nCheck your email for the Google Drive link.\\n\\nWhen you've uploaded your content, click here to confirm:\\nhttps://omo.mtronika.co.za/webhook/content-uploaded?ref=\" + $('MySQL - Validate Token').item.json.project_ref }}",
                "additionalFields": {
                    "previewUrl": false
                }
            },
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1.1,
            "position": [
                672,
                1392
            ],
            "id": "a2adaddc-5214-4e14-adc9-f19d95c33b2d",
            "name": "WhatsApp - Upload CTA",
            "webhookId": "924123bc-06cf-4620-a52f-3f55992469aa",
            "credentials": {
                "whatsAppApi": {
                    "id": "yYwdv31XNhj0JHzv",
                    "name": "WhatsApp Cloud API - 27 68 608 8321"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Project Started! - Mtronika</title>\n    <style>\n        /* 1. Mtronika Red/Orange Background */\n        body { \n            font-family: Arial, sans-serif; \n            background: linear-gradient(135deg, #ff0000 0%, #ff6600 100%); \n            min-height: 100vh; \n            display: flex; \n            align-items: center; \n            justify-content: center; \n            margin: 0; \n        }\n\n        /* 2. White Card Container */\n        .card { \n            background: white; \n            padding: 50px; \n            border-radius: 20px; \n            text-align: center; \n            box-shadow: 0 25px 50px rgba(0,0,0,0.25); \n            max-width: 500px; \n            width: 90%;\n            margin: 20px;\n        }\n\n        /* 3. Animation for the Icon */\n        .icon { \n            font-size: 80px; \n            margin-bottom: 20px; \n            animation: bounce 0.6s ease; \n        }\n        @keyframes bounce { \n            0%, 100% { transform: scale(1); } \n            50% { transform: scale(1.2); } \n        }\n\n        /* 4. Mtronika Logo */\n        .logo {\n            max-width: 120px;\n            margin-bottom: 20px;\n        }\n\n        /* 5. Typography */\n        h1 { \n            color: #ff0000; \n            margin: 0 0 15px; \n            font-size: 28px;\n            font-weight: bold;\n        }\n        \n        p { \n            color: #333; \n            line-height: 1.6; \n            margin: 0 0 25px; \n            font-size: 16px;\n        }\n        \n        strong {\n            color: #ff0000;\n        }\n\n        /* 6. Action Button - Red Gradient */\n        .btn { \n            background: linear-gradient(135deg, #ff0000 0%, #ff6600 100%); \n            color: white; \n            padding: 16px 40px; \n            border-radius: 50px; \n            text-decoration: none; \n            font-weight: bold; \n            display: inline-block; \n            box-shadow: 0 4px 15px rgba(255, 102, 0, 0.3);\n            transition: transform 0.2s;\n        }\n        .btn:hover { \n            transform: translateY(-2px); \n            box-shadow: 0 6px 20px rgba(255, 0, 0, 0.4); \n        }\n        \n        /* Footer */\n        .footer {\n            margin-top: 30px;\n            color: #777;\n            font-size: 12px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" alt=\"Mtronika\" class=\"logo\">\n        \n        <div class=\"icon\">🎉</div>\n        \n        <h1>You're All Set!</h1>\n        \n        <p>Your project <strong>{{ $('MySQL - Validate Token').item.json.project_ref }}</strong> is now active. We've sent you an email with your Google Drive folder link.</p>\n        \n        <p>Upload your content and we'll start building your website!</p>\n        \n        <a href=\"https://drive.google.com/drive/folders/{{ $('Google Drive - Create Folder').item.json.id }}\" class=\"btn\">📁 Go to Project Folder</a>\n        \n        <div class=\"footer\">\n            Joy in Every Click\n        </div>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                832,
                1168
            ],
            "id": "49568eaa-8e22-4fc1-a766-9858e26b9c22",
            "name": "Respond - Success"
        },
        {
            "parameters": {
                "content": "## WF-WD-03: Client Acceptance (Two-Step)\n\n**Purpose:** Prevent accidental proposal acceptances\n\n**Step 1:** Client clicks Accept in email\n→ Shows confirmation page with summary\n→ Generates secure token (24h expiry)\n\n**Step 2:** Client clicks Confirm\n→ Validates token\n→ Creates Google Drive folder\n→ Shares with client\n→ Sends kickoff email",
                "height": 396,
                "width": 590,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -1072,
                656
            ],
            "typeVersion": 1,
            "id": "7c8e1601-836e-4f85-9394-7429b1e87ade",
            "name": "Sticky Note - Overview"
        },
        {
            "parameters": {
                "content": "## Database Fields Required\n\nAdd these columns to `projects` table:\n\n```sql\nALTER TABLE projects\nADD COLUMN confirmation_token VARCHAR(64),\nADD COLUMN token_expires DATETIME;\n```",
                "height": 436,
                "width": 908,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -448,
                608
            ],
            "typeVersion": 1,
            "id": "8fd518c4-db20-4c35-a554-963493676d98",
            "name": "Sticky Note - Schema"
        },
        {
            "parameters": {
                "operation": "share",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $('Google Drive - Create Folder').item.json.id }}",
                    "mode": "id"
                },
                "permissionsUi": {
                    "permissionsValues": {
                        "role": "writer",
                        "type": "anyone"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                128,
                1184
            ],
            "id": "1ced8cfb-0ebe-44c9-9c00-4e366fba44c3",
            "name": "Google Drive - Share with Client",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "1I39RLB0gqiuIL7F",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $('MySQL - Validate Token').item.json.project_ref }} | {{ $('MySQL - Validate Token').item.json.client_name }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list",
                    "cachedResultName": "My Drive",
                    "cachedResultUrl": "https://drive.google.com/drive/my-drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1XXc9jw0YpXdAE-YxSztVZ2MEZm0nibJN",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -80,
                1184
            ],
            "id": "d22e6768-d462-43cd-bf56-4acec02b1f13",
            "name": "Google Drive - Create Folder",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "1I39RLB0gqiuIL7F",
                    "name": "Google Drive account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Accept Proposal": {
            "main": [
                [
                    {
                        "node": "MySQL - Get Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Get Project": {
            "main": [
                [
                    {
                        "node": "Generate Confirmation Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Confirmation Token": {
            "main": [
                [
                    {
                        "node": "MySQL - Save Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Save Token": {
            "main": [
                [
                    {
                        "node": "Respond - Confirmation Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook - Confirm Acceptance": {
            "main": [
                [
                    {
                        "node": "MySQL - Validate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Validate Token": {
            "main": [
                [
                    {
                        "node": "IF Token Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Token Valid?": {
            "main": [
                [
                    {
                        "node": "Google Drive - Create Folder",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Set Active": {
            "main": [
                [
                    {
                        "node": "Send Email - Kickoff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email - Kickoff": {
            "main": [
                [
                    {
                        "node": "Respond - Success",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "WhatsApp - Upload CTA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WhatsApp - Upload CTA": {
            "main": [
                []
            ]
        },
        "Google Drive - Share with Client": {
            "main": [
                [
                    {
                        "node": "MySQL - Set Active",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Drive - Create Folder": {
            "main": [
                [
                    {
                        "node": "Google Drive - Share with Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook - Accept Proposal": [
            {
                "headers": {
                    "host": "omo.mtronika.co.za",
                    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:146.0) Gecko/20100101 Firefox/146.0",
                    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
                    "accept-encoding": "gzip, deflate, br, zstd",
                    "accept-language": "en-US,en;q=0.5",
                    "cookie": "rl_session=RudderEncrypt%3AU2FsdGVkX1%2B53SyTyobk2bNFmaPU0N%2BcPaO%2FSDI604BAneJjqOQnmCA2RXz%2FMsyTpehRCd0SmsOqHjdXKmTEdvzxsa8kEsYZe5qc9qngdYGCUWEhEWkQ50pvV%2B%2BGy0ZWCDHiAnrYHdjldUWlvAlrCA%3D%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19SsS3ymaG0rdKpR8j%2BcPCxxrtQlfIomzMOt7oq%2B5%2FxlLbCAZSlMzBgmQiCXQ9Rx%2FHOC59twNbBcg%3D%3D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19CJmHraISKu5l42Y%2F5hsW33BBops5baCQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19WBoF9zhxFRBn1PiWjFxYWZRSPexSGxcs%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FUgdiwRz8GLAnFdD4TBYpgTKr6zgnNnNX%2BOustjGy7Xf4Lcoz7fFq8mBTzCajw5CwamHMMDdTXZsdf0whXZYGKoZXu8JJX8CkkV7JgdTVwdBSa%2BOS6igpm%2Bgiy0lwy9oMliD9%2FA%2B%2B7zIkOiG%2BBwZDCF8hxGEexOE4%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19K3Eu%2BMP0fbLLKXWg3unHmbBYbZU9ZA7QKnt8ZgqvojrScHGM83BXK7WdOK8QrC0KXYY0VVNWDLiOanXMIi59ofsJHILh0uO5hVWWJkq59pHXAbE%2BhaRfi6EikDVoX4Qp6ddTgKZcSuYk%2BPvP0BBEAkJmLJyy3P4M%3D",
                    "dnt": "1",
                    "priority": "u=0, i",
                    "referer": "https://omo.mtronika.co.za/",
                    "sec-fetch-dest": "document",
                    "sec-fetch-mode": "navigate",
                    "sec-fetch-site": "cross-site",
                    "sec-fetch-user": "?1",
                    "sec-gpc": "1",
                    "te": "trailers",
                    "upgrade-insecure-requests": "1",
                    "via": "2.0 Caddy",
                    "x-forwarded-for": "196.39.75.108",
                    "x-forwarded-host": "omo.mtronika.co.za",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {
                    "ref": "WD-2026-MJYTE3HF"
                },
                "body": {},
                "webhookUrl": "https://omo.mtronika.co.za/webhook/accept-proposal",
                "executionMode": "production"
            }
        ],
        "Webhook - Confirm Acceptance": [
            {
                "headers": {
                    "host": "omo.mtronika.co.za",
                    "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36 EdgA/143.0.0.0",
                    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
                    "accept-encoding": "gzip, deflate, br, zstd",
                    "accept-language": "en-ZA,en-US;q=0.9,en-GB;q=0.8,en;q=0.7",
                    "dnt": "1",
                    "priority": "u=0, i",
                    "sec-ch-ua": "\"Microsoft Edge\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
                    "sec-ch-ua-mobile": "?1",
                    "sec-ch-ua-platform": "\"Android\"",
                    "sec-fetch-dest": "document",
                    "sec-fetch-mode": "navigate",
                    "sec-fetch-site": "cross-site",
                    "sec-fetch-user": "?1",
                    "upgrade-insecure-requests": "1",
                    "via": "2.0 Caddy",
                    "x-forwarded-for": "196.39.75.108",
                    "x-forwarded-host": "omo.mtronika.co.za",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {
                    "ref": "WD-2026-MJYTE3HF",
                    "token": "zJ0iECqLHeep9cVJfrDUoxAntZnYi3jM"
                },
                "body": {},
                "webhookUrl": "https://omo.mtronika.co.za/webhook/confirm-acceptance",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "0c4e1e5325de5935e7052b5ce1c1cf23ed3ad9a4fa00e0e387f84b3088759ff5"
    }
}