WF-WD-02-scoping-engine.json
{
    "nodes": [
        {
            "parameters": {
                "path": "approve-scope",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -608,
                448
            ],
            "id": "aab696e2-df39-4b27-ab2c-cab44c4d6ff1",
            "name": "Webhook - Approve Scope",
            "webhookId": "approve-scope"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM projects WHERE project_ref = '{{ $json.query.ref }}' LIMIT 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                -416,
                448
            ],
            "id": "1a54f833-2a74-4078-a6ce-5dc542ac106a",
            "name": "MySQL - Get Project",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are the Solutions Architect Agent (Level 2) for Mtronika.\nYour goal is to design a high-conversion website sitemap based on specific client intent.\n\n### 1. TRACING VARIABLE LINEAGE\nYou must first validate your input data to prevent hallucination.\n- Check `client_name`: {{ $('GUARD: Scoping Data Integrity').item.json.client_name }}\n- Check `package_tier`: {{ $('GUARD: Scoping Data Integrity').item.json.package_tier }}\n- Check `business_intent`: {{ $('GUARD: Scoping Data Integrity').item.json.business_intent }}\n- Check `industry_sector`: {{ $('GUARD: Scoping Data Integrity').item.json.industry_sector }}\n\nIf any of these look generic (e.g. \"Valued Client\") or missing, STOP. \nReturn error JSON: {\"error\": \"Ambiguous Input Data\", \"missing_field\": \"field_name\"}.\n\n### 2. ANALYZING CONSTRAINTS\nCompare the `industry_sector` against the `package_tier` rules:\n- vBronze (Max 4 pages): Home, About, Services, Contact. (Strict Limit)\n- vSilver (Max 7 pages): Adds Gallery, Chat integration.\n- vGold (Max 12 pages): Adds Booking, Payments, Blog.\n- vPlatinum+ (Max 15 pages): Multi-location, SEO Silos, Advanced Features.\n\n**CRITICAL RULE:** If the `business_intent` asks for features NOT in the `package_tier` (e.g., \"I want to sell shoes\" on vBronze), you must NOT include the Shop page, but you MUST flag it in `upsell_suggestion`.\n\n### 3. DESIGNING ARCHITECTURE\nCreate a sitemap structure.\n- Prioritize pages that directly solve the `business_intent`.\n- Ensure page titles match the `industry_sector` (e.g., \"Menu\" for Restaurant, \"Treatments\" for Spa).\n\n### 4. OUTPUT GENERATION\nReturn ONLY valid JSON. No markdown formatting.\n{\n  \"trace_id\": \"verified_by_architect\",\n  \"reasoning_summary\": \"Client wants [intent], restricted by [package].\",\n  \"sitemap\": [\n    {\n      \"page\": \"home\",\n      \"title\": \"Home Page\",\n      \"sections\": [\"Hero\", \"Services Grid\", \"Trust Signals\", \"CTA\"],\n      \"content_focus\": \"Showcasing past projects immediately.\"\n    }\n  ],\n  \"total_pages\": 0,\n  \"package_limit\": 0,\n  \"within_limit\": true,\n  \"upsell_suggestion\": \"None\"\n}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -80,
                240
            ],
            "id": "b0fb74d3-822b-41c2-ac5a-657ec052802a",
            "name": "Assembly Agent - Sitemap"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-3-5-haiku-20241022",
                    "mode": "list",
                    "cachedResultName": "Claude Haiku 3.5"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                -80,
                80
            ],
            "id": "8e63dbfb-f937-4015-aa10-f9ca3c25f773",
            "name": "Claude Haiku 3.5",
            "credentials": {
                "anthropicApi": {
                    "id": "InJWeoiedPixcg1A",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "table": {
                    "__rl": true,
                    "value": "projects",
                    "mode": "list",
                    "cachedResultName": "projects"
                },
                "dataMode": "defineBelow",
                "columnToMatchOn": "project_ref",
                "valueToMatchOn": "={{ $('GUARD: Scoping Data Integrity').item.json.project_ref }}",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "sitemap_json",
                            "value": "={{ $('Assembly Agent - Sitemap').item.json.output }}"
                        },
                        {
                            "column": "status",
                            "value": "Scoping"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                240,
                240
            ],
            "id": "33f34dc8-49f5-412c-9727-a63369e71d27",
            "name": "MySQL - Update Sitemap",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Scoping Started - Mtronika</title>\n    <style>\n        /* Mtronika Brand Background - Web Design Red/Orange */\n        body { \n            font-family: Arial, sans-serif; \n            background: linear-gradient(135deg, #ff0000 0%, #ff6600 100%); \n            min-height: 100vh; \n            display: flex; \n            align-items: center; \n            justify-content: center; \n            margin: 0; \n        }\n        \n        /* White Card Container */\n        .card { \n            background: white; \n            padding: 50px; \n            border-radius: 20px; \n            text-align: center; \n            box-shadow: 0 25px 50px rgba(0,0,0,0.25); \n            max-width: 500px; \n            width: 90%; \n            margin: 20px;\n        }\n\n        /* Mtronika Logo */\n        .logo {\n            max-width: 120px;\n            margin-bottom: 20px;\n        }\n\n        /* Headings - Brand Red */\n        h1 { \n            color: #ff0000; \n            margin: 0 0 15px; \n            font-size: 28px; \n            font-weight: bold;\n        }\n\n        /* Body Text */\n        p { \n            color: #333333; \n            line-height: 1.6; \n            margin: 0 0 25px; \n            font-size: 16px;\n        }\n\n        /* Project Reference Box */\n        .project-ref { \n            background: #f9f9f9; \n            padding: 15px 25px; \n            border-radius: 8px; \n            font-family: monospace; \n            font-size: 18px; \n            color: #333; \n            display: inline-block; \n            margin-bottom: 25px; \n            border-left: 4px solid #ff6600; /* Orange Accent */\n            font-weight: bold;\n        }\n\n        /* Action Button */\n        .btn { \n            background: linear-gradient(135deg, #ff0000 0%, #ff6600 100%); \n            color: white; \n            padding: 16px 40px; \n            border-radius: 50px; \n            text-decoration: none; \n            font-weight: bold; \n            display: inline-block; \n            font-size: 16px;\n            box-shadow: 0 4px 15px rgba(255, 102, 0, 0.3);\n            transition: transform 0.2s ease;\n        }\n        \n        .btn:hover { \n            transform: translateY(-2px); \n            box-shadow: 0 6px 20px rgba(255, 0, 0, 0.4); \n        }\n\n        /* Footer text */\n        .footer {\n            margin-top: 30px;\n            font-size: 12px;\n            color: #777;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" alt=\"Mtronika\" class=\"logo\">\n        \n        <h1>Scoping Started!</h1>\n        \n        <p>The AI is now generating the sitemap and proposal for this project. Sit tight!</p>\n        \n        <div class=\"project-ref\">{{ $('GUARD: Scoping Data Integrity').item.json.project_ref }}</div>\n        \n        <p>The client will receive a WhatsApp notification shortly. You'll get an email when the proposal is ready for review.</p>\n        \n        <a href=\"https://omo.mtronika.co.za\" class=\"btn\">Back to Dashboard</a>\n\n        <div class=\"footer\">\n            Mtronika Web Design Department\n        </div>\n    </div>\n</body>\n</html>",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                480,
                448
            ],
            "id": "ae699350-b3f0-4e5a-9cc6-29548cc45040",
            "name": "Respond - Success Page"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are the Senior Sales Copywriter for Mtronika Web Design.\nYour goal is to write a persuasive HTML email proposal that gets the client to click \"Accept\".\n\n### 1. TRACING VARIABLE LINEAGE (Internal Monologue)\nYou must verify you have enough data to write a specific proposal.\n- Client Name: \"{{ $('GUARD: Scoping Data Integrity').item.json.client_name }}\"\n- Business Intent: \"{{ $('GUARD: Scoping Data Integrity').item.json.business_intent }}\"\n- Package Tier: \"{{ $('GUARD: Scoping Data Integrity').item.json.package_tier }}\"\n- Sitemap Context: {{ $('Assembly Agent - Sitemap').item.json.output }}\n\n**CRITICAL CHECK:** If the `Sitemap Context` is empty or says \"ERROR\", you must STOP and output: \"ERROR: CANNOT_WRITE_PROPOSAL_NO_SITEMAP\".\n\n### 2. ANALYZING STRATEGY\n- **Tone:** If industry is Construction/Trade, be direct and punchy. If Corporate/Legal, be professional and calm. If Retail/Food, be exciting.\n- **Value Proposition:** Look at the Sitemap. Why did the Architect choose those pages? (e.g. \"Gallery\" is for showing work, \"Contact\" is for leads).\n\n### 3. DRAFTING CONTENT\nWrite the HTML *body content* only (no <html>, <head>, or <body> tags).\n\n- **Greeting:** \"Hi {{ $('GUARD: Scoping Data Integrity').item.json.client_name }} Team,\"\n- **The Hook:** \"I've reviewed your request to [Business Intent]. Here is the plan to make that happen.\"\n- **The Solution:** \"We have architected a [Package Tier] website structure for you:\"\n    - *Bulleted list of 3-4 key pages from the Sitemap and WHY they matter.*\n- **The Promise:** \"We can have this live by [Due Date].\"\n- **The Investment:** \"Monthly Investment: [Insert Price based on Package Reference].\"\n    - vBronze: R389/m\n    - vSilver: R489/m\n    - vGold: R789/m\n    - vPlatinum+: R1,499/m\n- **Call to Action:** \"Click the button below to approve this scope and start the build.\"\n\n### 4. OUTPUT FORMAT\n- Return **RAW HTML** only.\n- Use `<h2>` for section headers (style=\"color: #d97706;\").\n- Use `<p>` for standard text.\n- Use `<ul>` and `<li>` for the sitemap summary.\n- **Do NOT** include the button HTML (the email template handles that).\n- Keep it under 250 words.",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                640,
                240
            ],
            "id": "b6cd2e14-e8d6-4575-8316-edf32a22cf95",
            "name": "Sales Copywriter - Proposal"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-3-5-haiku-20241022",
                    "mode": "list",
                    "cachedResultName": "Claude Haiku 3.5"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                640,
                80
            ],
            "id": "fd4aacfa-ccd2-4d33-85e4-92b6b20ea7ce",
            "name": "Claude Haiku 3.5 (Proposal)",
            "credentials": {
                "anthropicApi": {
                    "id": "InJWeoiedPixcg1A",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "table": {
                    "__rl": true,
                    "value": "projects",
                    "mode": "list",
                    "cachedResultName": "projects"
                },
                "dataMode": "defineBelow",
                "columnToMatchOn": "project_ref",
                "valueToMatchOn": "={{ $('GUARD: Scoping Data Integrity').item.json.project_ref }}",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "status",
                            "value": "Proposal_Sent"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                928,
                240
            ],
            "id": "59333cb4-87ab-40ad-8439-c70afae198a1",
            "name": "MySQL - Update Status",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "={{ $('GUARD: Scoping Data Integrity').item.json.client_email }}",
                "subject": "=📋 Your Website Proposal - {{ $('GUARD: Scoping Data Integrity').item.json.client_name }}",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Your Website Proposal</title>\n    <style>\n        /* Reset & Base */\n        body, table, td, p, a, li, blockquote { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n        body { margin: 0; padding: 0; font-family: Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #f4f4f4; }\n        \n        /* Layout */\n        .email-wrapper { width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; }\n        \n        /* Logo */\n        .logo-container { text-align: center; padding: 20px 0; }\n        .logo-container img { max-width: 180px; width: 100%; height: auto; display: inline-block; }\n        \n        /* Header - Web Design Gradient */\n        .header {\n            background: linear-gradient(135deg, #ff0000, #ff6600);\n            color: white;\n            padding: 30px 20px;\n            text-align: center;\n            border-radius: 8px 8px 0 0;\n        }\n        .header h1 { margin: 0; font-size: 24px; font-weight: bold; }\n        .header p { margin: 10px 0 0 0; font-size: 16px; opacity: 0.95; }\n        \n        /* Content Body */\n        .content { \n            background: #ffffff; \n            padding: 40px 30px; \n            border-radius: 0 0 8px 8px; \n            box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n        }\n        \n        /* AI Content Styling Override */\n        .content h2, .content h3 { color: #ff0000; margin-top: 25px; }\n        .content ul { margin-bottom: 20px; }\n        .content li { margin-bottom: 8px; }\n        \n        /* Footer */\n        .footer { text-align: center; padding: 25px; color: #777777; font-size: 12px; }\n        .footer a { color: #ff0000; text-decoration: none; }\n        \n        /* Mobile Responsive */\n        @media only screen and (max-width: 480px) {\n            .email-wrapper { padding: 10px; }\n            .header { padding: 20px; }\n            .content { padding: 25px 20px; }\n            .logo-container img { max-width: 140px; }\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"email-wrapper\">\n    \n    <div class=\"logo-container\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" alt=\"Mtronika - Joy in Every Click\">\n    </div>\n\n    <div class=\"header\">\n        <h1>📋 Your Proposal is Ready</h1>\n        <p>Prepared for {{ $('GUARD: Scoping Data Integrity').item.json.client_name }}</p>\n    </div>\n\n    <div class=\"content\">\n        {{ $('Sales Copywriter - Proposal').item.json.output }}\n    </div>\n\n\n    <div style=\"text-align: center; margin: 40px 0;\">\n    <a href=\"https://omo.mtronika.co.za/webhook/accept-proposal?ref={{ $('GUARD: Scoping Data Integrity').item.json.project_ref }}\" \n       style=\"background-color: #28a745; color: white; padding: 18px 40px; text-decoration: none; border-radius: 50px; font-weight: bold; font-size: 18px; display: inline-block; box-shadow: 0 4px 15px rgba(40, 167, 69, 0.3);\">\n       ✅ CLICK TO ACCEPT PROPOSAL\n    </a>\n    <p style=\"margin-top: 15px; font-size: 12px; color: #999;\">By clicking, you agree to the scope and terms.</p>\n</div>\n\n    <div class=\"footer\">\n        <p>\n            <strong>Project Ref:</strong> {{ $('GUARD: Scoping Data Integrity').item.json.project_ref }}\n        </p>\n        <p>\n            Questions? WhatsApp us: <a href=\"https://wa.me/27785310450\">078 531 0450</a><br>\n            © 2026 Mtronika • Krugersdorp, South Africa\n        </p>\n    </div>\n\n</div>\n\n</body>\n</html>",
                "options": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1120,
                240
            ],
            "id": "204cf9ba-6b38-4be7-a578-4439d32134c5",
            "name": "Send Email - Client Proposal",
            "webhookId": "541bed6c-822e-43fe-bc32-0c0c181c2be6",
            "credentials": {
                "smtp": {
                    "id": "TvYLDVjPK9MEHOk9",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "content": "## WF-WD-02: Scoping Engine\n\n**Triggers:** Admin clicks 'Approve' button in WF-WD-01 email\n\n**Parallel Execution:**\n- Branch 1: AI generates sitemap\n- Branch 2: WhatsApp notification (if phone valid)\n\n**Flow:**\n1. Get project from database\n2. AI generates sitemap structure\n3. AI writes proposal copy\n4. Update database status\n5. Email proposal to client",
                "height": 536,
                "width": 446,
                "color": 2
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -640,
                96
            ],
            "typeVersion": 1,
            "id": "ca6ba79a-5bb1-4029-aaa6-76c41e5b4782",
            "name": "Sticky Note - Overview"
        },
        {
            "parameters": {
                "content": "## WhatsApp Template Setup\n\nCreate in Meta Business Manager:\n\n**Name:** project_start_notification\n**Language:** en_US\n**Category:** UTILITY\n**Body:** Hi {{1}}, your web design project {{2}} has started! We'll send you a proposal shortly.\n\nWhatsApp Token : EAATzjXldFjsBQUtSRja3HGAduPQYO60ZCaqxU1nfCSQTdlX2rtbHBOMy9qSJGCxctDVH119Lbj8CJRaT1i6eZCOUPmAWpIAMysGWJBlZA0eWbuajGctpQPiQiwXnPJ0eqqAZCOacqx7HkzJB7jguxvg8i0dOEMTjLFtO7YKRI4bZCmIatiZA7tATITAJ1ZBKtpo2gZDZD",
                "height": 428,
                "width": 928,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -640,
                640
            ],
            "typeVersion": 1,
            "id": "eba5036a-a159-4115-bba5-1646f5bc8ccd",
            "name": "Sticky Note - WhatsApp"
        },
        {
            "parameters": {
                "jsCode": "// AGENTIC GUARDRAIL: Data Lineage Check\n// Purpose: Prevent AI from hallucinating on empty data\n\nconst project = $('MySQL - Get Project').item.json;\nconst missing = [];\n\n// 1. Trace Mission Critical Variables\nif (!project.client_name || project.client_name === 'Valued Client') missing.push(\"client_name\");\nif (!project.business_intent) missing.push(\"business_intent\");\nif (!project.package_tier) missing.push(\"package_tier\");\nif (!project.industry_sector) missing.push(\"industry_sector\");\n\n// 2. The Hard Stop\nif (missing.length > 0) {\n    // This triggers the Error Workflow immediately\n    throw new Error(`⛔ AGENT HALT: Missing lineage for [${missing.join(', ')}]. Cannot generate SOW.`);\n}\n\n// 3. Pass Data if Safe\nreturn {\n    json: {\n        ...project,\n        _agent_meta: {\n            verified: true,\n            timestamp: new Date().toISOString(),\n            lineage_check: \"PASS\"\n        }\n    }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -592,
                896
            ],
            "id": "3f332a83-6357-4a47-a43e-77f6bea3e3e6",
            "name": "GUARD: Scoping Data Integrity"
        },
        {
            "parameters": {
                "jsCode": "// VALIDATE PHONE (Handle 27... and 0...)\nconst results = [];\n\nfor (const item of items) {\n  const phoneInput = item.json.client_phone;\n  let isValid = false;\n\n  if (phoneInput) {\n    // 1. Convert to string & remove non-numbers\n    let phoneStr = phoneInput.toString().replace(/\\D/g, '');\n\n    // 2. Check length (SA numbers are 10-12 digits)\n    if (phoneStr.length >= 9) {\n       isValid = true;\n    }\n  }\n\n  item.json.is_phone_valid = isValid;\n  results.push(item);\n}\n\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -384,
                896
            ],
            "id": "47cfe1b3-2039-4570-81c1-07be6713a60d",
            "name": "Code - Validate Phone"
        },
        {
            "parameters": {
                "mode": "expression",
                "numberOutputs": 2,
                "output": "={{ $json.is_phone_valid ? 0 : 1 }}"
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -144,
                912
            ],
            "id": "14000711-9f5b-4df6-bbd3-6d02ad87bc9b",
            "name": "IF Phone Valid?"
        },
        {
            "parameters": {
                "phoneNumberId": "911618885374326",
                "recipientPhoneNumber": "={{ $json.client_phone.toString().replace(/\\D/g, '').replace(/^0/, '27') }}",
                "template": "project_start_notification|en_US",
                "components": {
                    "component": [
                        {
                            "bodyParameters": {
                                "parameter": [
                                    {
                                        "text": "={{ $json.client_name }}"
                                    },
                                    {
                                        "text": "={{ $json.project_ref }}"
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1.1,
            "position": [
                112,
                896
            ],
            "id": "6271792c-b5b5-4419-85ef-1ea25b469f74",
            "name": "Send template",
            "webhookId": "5707b3b4-da25-412b-9be5-df26c4aeed95",
            "credentials": {
                "whatsAppApi": {
                    "id": "yYwdv31XNhj0JHzv",
                    "name": "WhatsApp Cloud API - 27 68 608 8321"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Approve Scope": {
            "main": [
                [
                    {
                        "node": "MySQL - Get Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Get Project": {
            "main": [
                [
                    {
                        "node": "GUARD: Scoping Data Integrity",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assembly Agent - Sitemap": {
            "main": [
                [
                    {
                        "node": "MySQL - Update Sitemap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Haiku 3.5": {
            "ai_languageModel": [
                [
                    {
                        "node": "Assembly Agent - Sitemap",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Update Sitemap": {
            "main": [
                [
                    {
                        "node": "Respond - Success Page",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Sales Copywriter - Proposal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sales Copywriter - Proposal": {
            "main": [
                [
                    {
                        "node": "MySQL - Update Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Haiku 3.5 (Proposal)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Sales Copywriter - Proposal",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Update Status": {
            "main": [
                [
                    {
                        "node": "Send Email - Client Proposal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GUARD: Scoping Data Integrity": {
            "main": [
                [
                    {
                        "node": "Code - Validate Phone",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code - Validate Phone": {
            "main": [
                [
                    {
                        "node": "IF Phone Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Phone Valid?": {
            "main": [
                [
                    {
                        "node": "Send template",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Assembly Agent - Sitemap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send template": {
            "main": [
                [
                    {
                        "node": "Assembly Agent - Sitemap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook - Approve Scope": [
            {
                "headers": {
                    "host": "omo.mtronika.co.za",
                    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:146.0) Gecko/20100101 Firefox/146.0",
                    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
                    "accept-encoding": "gzip, deflate, br, zstd",
                    "accept-language": "en-US,en;q=0.5",
                    "cookie": "rl_session=RudderEncrypt%3AU2FsdGVkX1%2B53SyTyobk2bNFmaPU0N%2BcPaO%2FSDI604BAneJjqOQnmCA2RXz%2FMsyTpehRCd0SmsOqHjdXKmTEdvzxsa8kEsYZe5qc9qngdYGCUWEhEWkQ50pvV%2B%2BGy0ZWCDHiAnrYHdjldUWlvAlrCA%3D%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19SsS3ymaG0rdKpR8j%2BcPCxxrtQlfIomzMOt7oq%2B5%2FxlLbCAZSlMzBgmQiCXQ9Rx%2FHOC59twNbBcg%3D%3D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19CJmHraISKu5l42Y%2F5hsW33BBops5baCQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19WBoF9zhxFRBn1PiWjFxYWZRSPexSGxcs%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FUgdiwRz8GLAnFdD4TBYpgTKr6zgnNnNX%2BOustjGy7Xf4Lcoz7fFq8mBTzCajw5CwamHMMDdTXZsdf0whXZYGKoZXu8JJX8CkkV7JgdTVwdBSa%2BOS6igpm%2Bgiy0lwy9oMliD9%2FA%2B%2B7zIkOiG%2BBwZDCF8hxGEexOE4%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19K3Eu%2BMP0fbLLKXWg3unHmbBYbZU9ZA7QKnt8ZgqvojrScHGM83BXK7WdOK8QrC0KXYY0VVNWDLiOanXMIi59ofsJHILh0uO5hVWWJkq59pHXAbE%2BhaRfi6EikDVoX4Qp6ddTgKZcSuYk%2BPvP0BBEAkJmLJyy3P4M%3D",
                    "dnt": "1",
                    "priority": "u=0, i",
                    "sec-fetch-dest": "document",
                    "sec-fetch-mode": "navigate",
                    "sec-fetch-site": "same-site",
                    "sec-fetch-user": "?1",
                    "sec-gpc": "1",
                    "te": "trailers",
                    "upgrade-insecure-requests": "1",
                    "via": "2.0 Caddy",
                    "x-forwarded-for": "196.39.77.50",
                    "x-forwarded-host": "omo.mtronika.co.za",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {
                    "ref": "WD-2026-MK2MRF9N"
                },
                "body": {},
                "webhookUrl": "https://omo.mtronika.co.za/webhook/approve-scope",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "0c4e1e5325de5935e7052b5ce1c1cf23ed3ad9a4fa00e0e387f84b3088759ff5"
    }
}