WF-WD-04-design-template.json
{
    "nodes": [
        {
            "parameters": {
                "content": "## WF-WD-04: Design & Template Deployment\n\n**Purpose:**\n1. Map industry to GitHub template\n2. Download template from GitHub\n3. Inject client variables (name, phone, colors)\n4. Save processed HTML to database\n5. Notify admin for QA review\n\n**GitHub Repo:** MtronikaSP/mtronika-templates\n\n**Version:** 2.0 - Production Ready",
                "height": 484,
                "width": 446,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2432,
                -3824
            ],
            "typeVersion": 1,
            "id": "56db6f4b-987f-4e74-a75a-f68fab1a69f5",
            "name": "Sticky Note - Overview"
        },
        {
            "parameters": {
                "content": "## Database Field Required\n\nAdd column to store processed HTML:\n\n```sql\nALTER TABLE projects\nADD COLUMN processed_html LONGTEXT;\n```",
                "height": 368,
                "width": 280,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2304,
                -4288
            ],
            "typeVersion": 1,
            "id": "de250443-7d68-425a-b47c-060314744ea7",
            "name": "Sticky Note - Schema"
        },
        {
            "parameters": {
                "content": "## GitHub Credential Setup\n\n**Type:** HTTP Header Auth\n**Name:** Authorization\n**Value:** token YOUR_GITHUB_PAT\n\nPAT needs `repo` scope for private repos.",
                "height": 356,
                "width": 280,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2640,
                -4272
            ],
            "typeVersion": 1,
            "id": "572a1688-8950-43de-b50d-641730f9a04e",
            "name": "Sticky Note - GitHub"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "start-design",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                1632,
                -3152
            ],
            "id": "cc918d39-a319-4d3e-b3aa-c09b4d1453f9",
            "name": "Webhook - Start Design",
            "webhookId": "start-design"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM projects WHERE project_ref = '{{ $json.body.project_ref }}' LIMIT 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1856,
                -3152
            ],
            "id": "6c13c44a-7995-4daf-9468-bafbdd924776",
            "name": "MySQL - Get Project",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Agent: Build Planning Prompt - Enhanced JSON instructions\nconst project = $input.first().json;\nconst prompt = `\n### Role\nYou are a Senior Solution Architect for Mtronika. Select the BEST template variant for the client.\n### Input Data\n- Industry: ${project.industry_sector}\n- Business Intent: \"${project.business_intent}\"\n### Template Options\nSelect the most appropriate path based on the client's intent.\n1. automotive (A only): \"automotive/template_a_v1\"\n2. cleaning (A only): \"cleaning/template_a_v1\"\n3. construction (A/B):\n   - A: \"construction/template_a_v1\" (General/Corporate)\n   - B: \"construction/template_b_v1\" (Industrial/Rugged)\n4. consulting (B only): \"consulting/template_b_v1\"\n5. education (A/B):\n   - A: \"education/template_a_v1\" (Standard)\n   - B: \"education/template_b_v1\" (Creative/Kids)\n6. farming (A only): \"farming/template_a_v1\"\n7. healthcare-medical (A/B):\n   - A: \"healthcare-medical/template_a_v1\" (Clinical)\n   - B: \"healthcare-medical/template_b_v1\" (Wellness/Care)\n8. insurance (A only): \"insurance/template_a_v1\"\n9. legal-services (A only): \"legal-services/template_a_v1\"\n10. logistics (A only): \"logistics/template_a_v1\"\n11. real-estate (A only): \"real-estate/template_a_v1\"\n12. restaurant-food (A/B):\n    - A: \"restaurant-food/template_a_v1\" (General Dining)\n    - B: \"restaurant-food/template_b_v1\" (Fast Food/Casual)\n13. retail-e-commerce (A/B/C):\n    - A: \"retail-e-commerce/template_a_v1\" (Grocery/Organic - 'Fruitables')\n    - B: \"retail-e-commerce/template_b_v1\" (General Retail)\n    - C: \"retail-e-commerce/template_c_v1\" (Fashion/Apparel - 'Believe')\n14. technology (A only): \"technology/template_a_v1\"\n15. Niche/Other Categories:\n    - Festivals: \"other/festivals\"\n    - Hotel: \"other/hotel\"\n    - Non-Profit: \"other/non-profit\"\n    - Portfolio: \"other/portfolio\"\n    - Solar: \"other/solar\"\n### Task\nSelect the best template. If multiple variants exist, analyze the business intent to choose A or B.\nReturn status \"INTENT_UNCLEAR\" ONLY if intent is genuinely vague.\n### CRITICAL: Output Format\nYou MUST respond with ONLY valid JSON. No markdown, no explanation, just the JSON object.\n{\n  \"thinking_process\": \"Your analysis of why you selected this template...\",\n  \"selected_template\": \"industry/template_x_v1\",\n  \"status\": \"CONFIRMED\"\n}\nIf unclear, use: {\"thinking_process\": \"explanation\", \"selected_template\": null, \"status\": \"INTENT_UNCLEAR\"}\n`;\nreturn { json: { prompt, project } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2080,
                -3152
            ],
            "id": "da06f65d-e22d-403d-ad4c-9d988bc83189",
            "name": "Agent - Planning Prompt"
        },
        {
            "parameters": {
                "jsCode": "// Agent: Parse Planning Output - Fixed for non-structured responses\nconst aiResponse = $input.first().json;\nlet decision;\ntry {\n  // Try to parse if it's already structured\n  if (aiResponse.thinking_process && aiResponse.selected_template && aiResponse.status) {\n    decision = {\n      thinking_process: aiResponse.thinking_process,\n      selected_template: aiResponse.selected_template,\n      status: aiResponse.status\n    };\n  }\n  // Check for .output format (Anthropic/Claude standard)\n  else if (aiResponse.output) {\n    const jsonMatch = aiResponse.output.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      decision = {\n        thinking_process: parsed.thinking_process || 'No reasoning provided',\n        selected_template: parsed.selected_template,\n        status: parsed.status || 'CONFIRMED'\n      };\n    } else {\n      throw new Error('No JSON found in output');\n    }\n  }\n  // Legacy content[0].text format\n  else if (aiResponse.content && aiResponse.content[0] && aiResponse.content[0].text) {\n    const jsonMatch = aiResponse.content[0].text.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      decision = {\n        thinking_process: parsed.thinking_process || 'No reasoning provided',\n        selected_template: parsed.selected_template,\n        status: parsed.status || 'CONFIRMED'\n      };\n    } else {\n      throw new Error('No JSON found in content');\n    }\n  }\n  else {\n    throw new Error('Unrecognized AI response format');\n  }\n} catch (e) {\n  console.error('Parse error:', e.message);\n  decision = { \n    status: 'INTENT_UNCLEAR', \n    thinking_process: `Failed to parse AI response: ${e.message}`,\n    selected_template: null\n  };\n}\nconst project = $('Agent - Planning Prompt').item.json.project;\nreturn {\n  json: {\n    ...project,\n    ...decision,\n    templatePath: decision.selected_template,\n    template_path: decision.selected_template,\n    githubUrl: decision.status === 'CONFIRMED' \n      ? `https://api.github.com/repos/MtronikaSP/mtronika-templates/contents/${decision.selected_template}/index.html` \n      : null\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2656,
                -3152
            ],
            "id": "9873bc1b-4a65-4487-8dae-242c5907d1f0",
            "name": "Agent - Parse Planning"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.status === 'INTENT_UNCLEAR' }}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2880,
                -3152
            ],
            "id": "284e826a-bcb7-4263-a9db-d7be5d02591a",
            "name": "IF Intent Unclear?"
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "website-orders@mtronika.co.za",
                "subject": "=⚠️ Action Required: Intent Unclear for {{ $json.project_ref }}",
                "html": "=The AI Planning Agent could not determine the best template for this project.<br><br><b>Business Intent:</b><br>{{ $json.business_intent }}<br><br><b>AI Reasoning:</b><br>{{ $json.thinking_process }}<br><br>Please manually review and update the project intent or select a template.",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                3104,
                -3056
            ],
            "id": "ca2b5896-1367-4a1f-be73-60d609542a19",
            "name": "Email - Intent Unclear",
            "webhookId": "857b7b9d-21e4-4aa7-a8fb-86e0da3bd43a",
            "credentials": {
                "smtp": {
                    "id": "TvYLDVjPK9MEHOk9",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// WF-WD-04: Inject Variables AND Image Placeholders - Fixed for GitHub base64\nconst templateRaw = $('GitHub - Get Template').item.json.content;\nconst project = $('Agent - Planning Prompt').item.json.project;\n// GitHub returns base64-encoded content - decode it\nlet templateContent;\ntry {\n  templateContent = Buffer.from(templateRaw, 'base64').toString('utf8');\n} catch (e) {\n  // If not base64, use as-is\n  templateContent = templateRaw;\n}\n// Define variable replacements with fallback for brand_colour\nconst defaultBrandColour = '#FD5D14'; // Orange fallback\nconst variables = {\n  '{{business_name}}': project.client_name || 'Business Name',\n  '{{phone}}': project.client_phone || '',\n  '{{email}}': project.client_email || '',\n  '{{brand_colour}}': project.brand_colour || defaultBrandColour,\n  '{{address}}': project.city || 'South Africa',\n  '{{year}}': new Date().getFullYear().toString(),\n  '{{domain}}': project.domain_name || 'mtronika.co.za',\n  '{{whatsapp}}': project.client_phone ? `27${project.client_phone.replace(/^0/, '')}` : '',\n  '{{project_ref}}': project.project_ref || '',\n  '{{industry}}': project.industry_sector || 'business',\n  '{{intent}}': project.business_intent || ''\n};\n// Replace all placeholders\nlet processedHtml = templateContent;\nfor (const [placeholder, value] of Object.entries(variables)) {\n  processedHtml = processedHtml.replaceAll(placeholder, value);\n}\n// IMAGE PLACEHOLDER SYSTEM\nlet imgCounter = 1;\nconst projectSeed = project.project_ref || 'default';\n// Regex to find img src attributes with relative paths\nconst imgRegex = /<img([^>]*?)src=[\"'](?!http|data:)(img\\/|\\.\\/img\\/|\\/img\\/)?([^\"']+)[\"']([^>]*?)>/gi;\nprocessedHtml = processedHtml.replace(imgRegex, (match, before, pathPrefix, filename, after) => {\n  let width = 800;\n  let height = 600;\n  \n  if (filename.includes('carousel') || filename.includes('hero') || filename.includes('slider')) {\n    width = 1200; height = 600;\n  } else if (filename.includes('team') || filename.includes('avatar') || filename.includes('profile')) {\n    width = 400; height = 400;\n  } else if (filename.includes('service') || filename.includes('portfolio') || filename.includes('project')) {\n    width = 600; height = 400;\n  } else if (filename.includes('logo') || filename.includes('icon') || filename.includes('favicon')) {\n    width = 200; height = 80;\n  } else if (filename.includes('about')) {\n    width = 800; height = 600;\n  } else if (filename.includes('testimonial')) {\n    width = 100; height = 100;\n  }\n  \n  const placeholderUrl = `https://picsum.photos/seed/${projectSeed}-${imgCounter}/${width}/${height}`;\n  imgCounter++;\n  \n  return `<img${before}src=\"${placeholderUrl}\"${after}>`;\n});\n// Handle background-image in inline styles\nconst bgRegex = /background(-image)?:\\s*url\\([\"']?(?!http|data:)([^\"')]+)[\"']?\\)/gi;\nprocessedHtml = processedHtml.replace(bgRegex, (match, suffix, path) => {\n  const placeholderUrl = `https://picsum.photos/seed/${projectSeed}-bg-${imgCounter}/1920/1080`;\n  imgCounter++;\n  return `background${suffix || ''}: url(\"${placeholderUrl}\")`;\n});\nreturn { \n  json: { \n    ...project,\n    processedHtml,\n    variablesInjected: Object.keys(variables).length,\n    imagesConverted: imgCounter - 1,\n    brand_colour: project.brand_colour || defaultBrandColour\n  } \n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3552,
                -3248
            ],
            "id": "21ca03c0-d6de-47ec-be4e-8c78d48223ae",
            "name": "Inject Variables"
        },
        {
            "parameters": {
                "jsCode": "// Agent: Senior Design Dev Prompt - Decode GitHub base64\nconst project = $input.first().json;\nconst blueprintRaw = $('GitHub - Get Blueprint').item.json.content;\nconst currentHtml = project.processedHtml;\n// GitHub returns base64-encoded content - decode it\nlet blueprint;\ntry {\n  blueprint = Buffer.from(blueprintRaw, 'base64').toString('utf8');\n} catch (e) {\n  blueprint = blueprintRaw;\n}\nconst brandColour = project.brand_colour || '#FD5D14';\nconst prompt = `\n### Role\nYou are a Senior Frontend Developer & Content Strategist at Mtronika.\n### Context\nYou have a base HTML template with placeholder images already converted. Your job is to:\n1. Customize the TEXT CONTENT to match the client's specific business\n2. Apply CSS variable overrides for brand colour\n3. Ensure the \"Contact\" or \"Get Quote\" buttons are prominent\n### Client Information\n- Business Name: \"${project.client_name}\"\n- Industry: ${project.industry_sector}\n- Business Intent: \"${project.business_intent}\"\n- Brand Colour: ${brandColour}\n- Location: ${project.city || 'South Africa'}\n- Phone: ${project.client_phone || 'Not provided'}\n- WhatsApp: ${project.whatsapp || 'Not available'}\n### Blueprint (Template Structure)\n${blueprint}\n### Current HTML (First 8000 chars for context)\n\\`\\`\\`html\n${currentHtml.substring(0, 8000)}\n\\`\\`\\`\n### Tasks\n1. **Content Rewriting**: Replace generic lorem ipsum and placeholder text with content relevant to \"${project.client_name}\" and the \"${project.industry_sector}\" industry. Write in a professional South African tone.\n2. **CSS Variable Override**: Add a \\`<style>\\` block at the END of the \\`<head>\\` that overrides the \\`:root\\` CSS variables:\n   \\`\\`\\`css\n   :root {\n     --primary: ${brandColour} !important;\n   }\n   .btn-primary, .bg-primary { background-color: ${brandColour} !important; }\n   a.text-primary, .text-primary { color: ${brandColour} !important; }\n   \\`\\`\\`\n3. **WhatsApp Integration**: If phone is available, ensure contact section includes WhatsApp link: https://wa.me/${project.client_phone}\n4. **Footer Update**: Ensure footer shows \"© ${new Date().getFullYear()} ${project.client_name}. Designed by Mtronika.\"\n### CRITICAL OUTPUT INSTRUCTIONS\nReturn ONLY the complete modified HTML document.\nWrap it in triple backticks with html language tag like this:\n\\`\\`\\`html\n<!DOCTYPE html>\n<html>\n... your complete modified HTML here ...\n</html>\n\\`\\`\\`\nDo NOT:\n- Break responsive Bootstrap grid classes\n- Remove any \\`<script>\\` tags\n- Change ID attributes used for navigation (#about, #services, etc.)\n- Add extra explanations before or after the HTML\n`;\nreturn { json: { prompt, currentHtml, project } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3776,
                -3248
            ],
            "id": "edc786ed-ec2f-437c-b899-f9af68022006",
            "name": "Agent - Senior Dev Prompt"
        },
        {
            "parameters": {
                "jsCode": "// Agent: Parse Senior Dev Output - Phase 2 Fix\n// Fixed to handle both structured output and raw output formats\nconst aiResponse = $input.first().json;\nlet modifiedHtml;\nlet devStatus = 'MODIFIED';\nlet modificationSummary = '';\ntry {\n  // Check for structured output format first\n  if (aiResponse.modified_html) {\n    modifiedHtml = aiResponse.modified_html;\n    modificationSummary = aiResponse.modification_summary || '';\n    devStatus = aiResponse.status || 'CODE_SUCCESS';\n  } \n  // Check for .output format (Gemini standard)\n  else if (aiResponse.output) {\n    const htmlMatch = aiResponse.output.match(/```html([\\s\\S]*?)```/);\n    modifiedHtml = htmlMatch ? htmlMatch[1].trim() : aiResponse.output;\n    devStatus = 'MODIFIED';\n  }\n  // Legacy format fallback\n  else if (aiResponse.content && aiResponse.content[0] && aiResponse.content[0].text) {\n    const htmlMatch = aiResponse.content[0].text.match(/```html([\\s\\S]*?)```/);\n    modifiedHtml = htmlMatch ? htmlMatch[1].trim() : aiResponse.content[0].text;\n  }\n  // Direct text response\n  else if (typeof aiResponse === 'string') {\n    const htmlMatch = aiResponse.match(/```html([\\s\\S]*?)```/);\n    modifiedHtml = htmlMatch ? htmlMatch[1].trim() : aiResponse;\n  }\n  else {\n    throw new Error('Could not extract HTML from AI response');\n  }\n} catch (e) {\n  // Fallback to original HTML if parsing fails\n  modifiedHtml = $('Agent - Senior Dev Prompt').item.json.currentHtml;\n  devStatus = 'FALLBACK_USED';\n  modificationSummary = `Parse error: ${e.message}`;\n}\nconst project = $('Agent - Senior Dev Prompt').item.json.project;\nreturn {\n  json: {\n    ...project,\n    processedHtml: modifiedHtml,\n    devStatus,\n    modificationSummary\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4352,
                -3248
            ],
            "id": "3ebd6416-1563-408e-92a4-4bbfe46bd368",
            "name": "Agent - Parse Senior Dev"
        },
        {
            "parameters": {
                "jsCode": "// Agent: Reflection Prompt - Acknowledge samples\nconst project = $input.first().json;\nconst html = project.processedHtml;\nconst htmlStart = html.substring(0, 3000);\nconst htmlEnd = html.substring(html.length - 1000);\nconst prompt = `\n### Role\nQA Specialist. Validate HTML samples.\n### IMPORTANT\nYou are seeing TRUNCATED SAMPLES (START + END) of a larger HTML document. Ignore missing closing tags between samples.\n### Checks\n1. Any {{handlebars}} in samples?\n2. Has DOCTYPE and opening tags?\n3. Has closing </body></html> tags?\n4. Has CSS styling?\n### HTML START (3000 chars)\n\\`\\`\\`html\n${htmlStart}\n\\`\\`\\`\n### HTML END (1000 chars)\n\\`\\`\\`html\n${htmlEnd}\n\\`\\`\\`\n### Output (JSON only)\n{\n  \"status\": \"QA_PASS\",\n  \"error_log\": \"\",\n  \"quality_score\": 90\n}\nOr if issues:\n{\n  \"status\": \"QA_FAILED\",\n  \"error_log\": \"Issue\",\n  \"quality_score\": 50\n}\nReturn ONLY JSON.\n`;\nreturn { json: { prompt, project, html } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4576,
                -3248
            ],
            "id": "93b80577-f80c-4928-acb0-1111bb14d1a9",
            "name": "Agent - Reflection Prompt"
        },
        {
            "parameters": {
                "jsCode": "// Agent: Parse Reflection Output - Fixed for multiple response formats\nconst aiResponse = $input.first().json;\nlet qaResult;\n\ntry {\n  // Check for structured output format\n  if (aiResponse.qa_status) {\n    qaResult = {\n      status: aiResponse.qa_status,\n      error_log: aiResponse.issues_found || '',\n      quality_score: aiResponse.quality_score || 0\n    };\n  }\n  // Check for .output format (Gemini standard)\n  else if (aiResponse.output) {\n    const jsonMatch = aiResponse.output.match(/\\{[\\s\\S]*\\}/);\n    qaResult = JSON.parse(jsonMatch ? jsonMatch[0] : '{}');\n  }\n  // Legacy format\n  else if (aiResponse.content && aiResponse.content[0] && aiResponse.content[0].text) {\n    const jsonMatch = aiResponse.content[0].text.match(/\\{[\\s\\S]*\\}/);\n    qaResult = JSON.parse(jsonMatch ? jsonMatch[0] : '{}');\n  }\n  else {\n    throw new Error('Could not parse QA response');\n  }\n} catch (e) {\n  qaResult = { status: 'QA_FAILED', error_log: `Parse error: ${e.message}`, quality_score: 0 };\n}\n\nconst project = $('Agent - Reflection Prompt').item.json.project;\nconst processedHtml = $('Agent - Reflection Prompt').item.json.html;\n\n// CRITICAL FIX: Get template_path from Agent - Parse Planning\nconst template_path = $('Agent - Parse Planning').item?.json?.template_path || project.template_path || null;\n\nreturn {\n  json: {\n    ...project,\n    template_path,  // Explicitly include template_path\n    processedHtml,\n    qaStatus: qaResult.status,\n    qaError: qaResult.error_log,\n    qaScore: qaResult.quality_score\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5152,
                -3248
            ],
            "id": "ae0d10f6-ab7d-4ad7-95ac-4ba72c20c062",
            "name": "Agent - Parse Reflection"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.qaStatus === 'QA_PASS' }}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                5376,
                -3248
            ],
            "id": "1bf0d9ac-1b2b-48ea-8160-1a4fe3d7c2cc",
            "name": "IF QA Pass?"
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "website-orders@mtronika.co.za",
                "subject": "=❌ QA Failed: {{ $json.project_ref }}",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>QA Failure Alert</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif; color: #333333;\">\n<div style=\"width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n    <div style=\"text-align: center; padding: 10px 0;\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" \n             alt=\"Mtronika\" \n             style=\"max-width: 120px; width: 100%; height: auto;\" />\n    </div>\n\n    <div style=\"background: linear-gradient(135deg, #ff3333, #cc0000); color: white; padding: 25px; text-align: center; border-radius: 8px 8px 0 0;\">\n        <h2 style=\"margin: 0; font-size: 20px; letter-spacing: 1px;\">❌ QA CHECK FAILED</h2>\n        <p style=\"margin: 5px 0 0; opacity: 0.9; font-size: 14px;\">The Design Agent requires manual intervention</p>\n    </div>\n\n    <div style=\"background: #ffffff; padding: 30px; border-radius: 0 0 8px 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.05);\">\n        \n        <h3 style=\"color: #ff0000; border-bottom: 2px solid #ff0000; padding-bottom: 8px; margin-top: 0; font-size: 18px;\">⚠️ Error Details</h3>\n        \n        <div style=\"background: #fff5f5; padding: 20px; border-radius: 8px; border-left: 4px solid #ff0000; margin: 20px 0; font-family: monospace; font-size: 13px; color: #cc0000;\">\n            <strong>Error Log:</strong><br>\n            {{ $json.qaError }}\n        </div>\n\n        <div style=\"background: #f9f9f9; padding: 15px; border-radius: 8px; border-left: 4px solid #ff6600; margin-bottom: 25px;\">\n            <table style=\"width: 100%; font-size: 14px;\">\n                <tr>\n                    <td style=\"padding: 5px 0; color: #555; width: 100px;\">Project:</td>\n                    <td style=\"padding: 5px 0; font-weight: bold;\">{{ $json.project_ref }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 5px 0; color: #555;\">Template:</td>\n                    <td style=\"padding: 5px 0; font-weight: bold;\">{{ $json.templatePath }}</td>\n                </tr>\n            </table>\n        </div>\n        \n        <p style=\"font-size: 15px;\">Please review the generated HTML code in the database or n8n execution log to fix the syntax issues.</p>\n        \n        <div style=\"text-align: center; margin-top: 30px;\">\n            <a href=\"https://server.mtronika.co.za/phpMyAdmin\" \n               style=\"background: #333333; color: white; padding: 14px 28px; text-decoration: none; border-radius: 50px; font-weight: bold; font-size: 14px; display: inline-block;\">\n               📊 Open Database\n            </a>\n        </div>\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; color: #aaaaaa; font-size: 11px;\">\n        Mtronika Automated QA System v3.0 | Krugersdorp, SA\n    </div>\n\n</div>\n</body>\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                5600,
                -3152
            ],
            "id": "e5207b63-ab04-46c0-b77b-a0a59506ab66",
            "name": "Email - QA Failed",
            "webhookId": "43851c1c-d64d-446d-9b6a-5f9ada998be3",
            "credentials": {
                "smtp": {
                    "id": "TvYLDVjPK9MEHOk9",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "table": {
                    "__rl": true,
                    "value": "projects",
                    "mode": "list",
                    "cachedResultName": "projects"
                },
                "dataMode": "defineBelow",
                "columnToMatchOn": "project_ref",
                "valueToMatchOn": "={{ $json.project_ref }}",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "template_path",
                            "value": "={{ $json.template_path }}"
                        },
                        {
                            "column": "processed_html",
                            "value": "={{ $json.processedHtml }}"
                        },
                        {
                            "column": "deployment_status",
                            "value": "Design_Complete"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                5600,
                -3344
            ],
            "id": "51128998-a82d-476c-8884-28ebe0413228",
            "name": "MySQL - Update Design Status",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"design_complete\",\n  \"project_ref\": \"{{ $('Agent - Parse Reflection').item.json.project_ref }}\",\n  \"template_used\": \"{{ $('Agent - Parse Reflection').item.json.templatePath }}\",\n  \"variables_injected\": {{ $('Agent - Parse Reflection').item.json.variablesInjected }},\n  \"images_converted\": {{ $('Agent - Parse Reflection').item.json.imagesConverted || 0 }},\n  \"qa_status\": \"{{ $('Agent - Parse Reflection').item.json.qaStatus }}\",\n  \"qa_score\": {{ $('Agent - Parse Reflection').item.json.qaScore || 0 }}\n}",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                5824,
                -3248
            ],
            "id": "810db606-5547-400b-bab7-aa16d703781e",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "website-orders@mtronika.co.za",
                "subject": "=✅ Design Complete: {{ $('Agent - Parse Reflection').item.json.project_ref }} - Ready for QA",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Design Complete - Mtronika Admin</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif; line-height: 1.6; color: #333333;\">\n<div style=\"width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n    <div style=\"text-align: center; padding: 20px 0;\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" \n             alt=\"Mtronika - Joy in Every Click\" \n             style=\"max-width: 180px; width: 100%; height: auto; display: inline-block;\" />\n    </div>\n\n    <div style=\"background: linear-gradient(135deg, #ff0000, #ff6600); color: white; padding: 25px 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">🚀 Design Phase Complete</h1>\n        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Ref: {{ $('Agent - Parse Reflection').item.json.project_ref }}</p>\n    </div>\n\n    <div style=\"background: #ffffff; padding: 30px; border-radius: 0 0 8px 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.05);\">\n        \n        <h3 style=\"color: #ff0000; border-bottom: 2px solid #ff0000; padding-bottom: 8px; margin-top: 0; font-size: 18px;\">👤 Client: {{ $('Agent - Parse Reflection').item.json.client_name }}</h3>\n        \n        <div style=\"background: #f9f9f9; padding: 20px; border-radius: 8px; border-left: 4px solid #ff0000; margin: 20px 0;\">\n            <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold; color: #555; width: 150px;\">Template Used:</td>\n                    <td style=\"padding: 8px 0; color: #333;\">{{ $('Agent - Parse Reflection').item.json.template_path }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Variables Injected:</td>\n                    <td style=\"padding: 8px 0; color: #333;\">{{ $('Agent - Parse Reflection').item.json.variablesInjected }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Images Processed:</td>\n                    <td style=\"padding: 8px 0; color: #333;\">{{ $json.imagesConverted || 0 }}</td>\n                </tr>\n            </table>\n        </div>\n\n        <div style=\"background: #fff9f5; padding: 15px; border-radius: 8px; border-left: 4px solid #ff6600; margin: 25px 0;\">\n            <p style=\"margin: 0; font-size: 14px; color: #333;\">\n                <strong>⚡ System Status:</strong> Design Agent has finished customization. The HTML is now ready for automated QA and Speed testing.\n            </p>\n        </div>\n        \n        <div style=\"text-align: center; margin-top: 30px;\">\n            <a href=\"https://omo.mtronika.co.za/webhook/start-qa?ref={{ $('Agent - Parse Reflection').item.json.project_ref }}\" \n               style=\"background: linear-gradient(135deg, #ff0000, #ff6600); color: white; padding: 15px 30px; text-decoration: none; border-radius: 50px; font-weight: bold; display: inline-block; margin: 5px; font-size: 16px;\">\n               🧪 Start QA Process\n            </a>\n            <br>\n            <a href=\"https://server.mtronika.co.za/phpMyAdmin\" \n               style=\"color: #ff6600; text-decoration: none; font-size: 14px; font-weight: bold; display: inline-block; margin-top: 15px;\">\n               📊 View Database Record\n            </a>\n        </div>\n    </div>\n\n    <div style=\"text-align: center; padding: 30px; color: #777777; font-size: 12px;\">\n        <p style=\"margin: 5px 0;\">Automated Internal Report • Mtronika Web Dept</p>\n        <p style=\"margin: 5px 0;\">© 2026 Mtronika • Krugersdorp HQ</p>\n    </div>\n\n</div>\n</body>\n</html>",
                "options": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                5824,
                -3440
            ],
            "id": "2d423766-ae5a-4735-9d69-d1016f131db9",
            "name": "Send Email - Admin Preview Ready",
            "webhookId": "41c88576-eaa2-48df-b35c-f351f06ea51b",
            "credentials": {
                "smtp": {
                    "id": "TvYLDVjPK9MEHOk9",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                2304,
                -3264
            ],
            "id": "a6f22841-000c-4f37-b2bb-c92a889e7e4f",
            "name": "AI Planning Agent Node"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-3-5-haiku-20241022",
                    "mode": "list",
                    "cachedResultName": "Claude Haiku 3.5"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                2384,
                -3024
            ],
            "id": "730f9235-3443-4dd5-b7c2-9ca22eea51d8",
            "name": "Anthropic Chat Model",
            "credentials": {
                "anthropicApi": {
                    "id": "InJWeoiedPixcg1A",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                4000,
                -3248
            ],
            "id": "02f928f8-9319-4b72-a031-f14afe6075e3",
            "name": "AI Senior Dev Agent"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                4800,
                -3248
            ],
            "id": "e769a241-d787-4974-a424-ee83f8f73281",
            "name": "AI Reflection Agent"
        },
        {
            "parameters": {
                "modelName": "models/gemini-3-flash-preview",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                4880,
                -3024
            ],
            "id": "d7e30810-09ea-44c3-9ed9-21b0adf41b21",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "ZLZ470lIBf79ePht",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": {
                    "__rl": true,
                    "value": "MtronikaSP",
                    "mode": "list",
                    "cachedResultName": "MtronikaSP",
                    "cachedResultUrl": "https://github.com/MtronikaSP"
                },
                "repository": {
                    "__rl": true,
                    "value": "mtronika-templates",
                    "mode": "list",
                    "cachedResultName": "mtronika-templates",
                    "cachedResultUrl": "https://github.com/MtronikaSP/mtronika-templates"
                },
                "filePath": "={{ $json.template_path }}/index.html",
                "asBinaryProperty": false,
                "additionalParameters": {}
            },
            "type": "n8n-nodes-base.github",
            "typeVersion": 1.1,
            "position": [
                3104,
                -3248
            ],
            "id": "8413b771-9289-486d-8730-3fe4f65c6797",
            "name": "GitHub - Get Template",
            "webhookId": "e3bf3ccf-5954-4fbc-acdb-d5c0896cf658",
            "credentials": {
                "githubOAuth2Api": {
                    "id": "xI6YYjORV9q6uTpO",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": {
                    "__rl": true,
                    "value": "MtronikaSP",
                    "mode": "list",
                    "cachedResultName": "MtronikaSP",
                    "cachedResultUrl": "https://github.com/MtronikaSP"
                },
                "repository": {
                    "__rl": true,
                    "value": "mtronika-templates",
                    "mode": "list",
                    "cachedResultName": "mtronika-templates",
                    "cachedResultUrl": "https://github.com/MtronikaSP/mtronika-templates"
                },
                "filePath": "={{ $('Agent - Parse Planning').item.json.template_path }}/blueprint.md",
                "asBinaryProperty": false,
                "additionalParameters": {}
            },
            "type": "n8n-nodes-base.github",
            "typeVersion": 1.1,
            "position": [
                3328,
                -3248
            ],
            "id": "9e96d8b2-0c1c-4074-a35d-ccc34bc757da",
            "name": "GitHub - Get Blueprint",
            "webhookId": "512dcaf9-7794-4b0c-a60a-2ba18a17e4fb",
            "credentials": {
                "githubOAuth2Api": {
                    "id": "xI6YYjORV9q6uTpO",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                4080,
                -3024
            ],
            "id": "fb68b2a2-9510-4353-831d-32dd4a1abc8f",
            "name": "Google Gemini Chat Model1",
            "credentials": {
                "googlePalmApi": {
                    "id": "ZLZ470lIBf79ePht",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                1632,
                -2816
            ],
            "id": "fadf4aff-8972-4b84-ba10-9c5e10bcaeb3",
            "name": "Error Catcher - AI Failure"
        },
        {
            "parameters": {
                "jsCode": "// Log AI Errors to Database\nconst error = $input.first().json;\nconst project = $('MySQL - Get Project').item?.json || {};\nconst errorLog = {\n  project_ref: project.project_ref || 'UNKNOWN',\n  error_node: error.node?.name || 'Unknown',\n  error_message: error.error?.message || JSON.stringify(error),\n  timestamp: new Date().toISOString(),\n  workflow: 'WF-WD-04'\n};\nreturn { json: errorLog }"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1856,
                -2816
            ],
            "id": "1078226d-521f-4946-9a1c-790d26ed57dd",
            "name": "Log Error to Database"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO workflow_errors \n(project_ref, error_node, error_message, timestamp, workflow) \nVALUES \n(\n  '{{ $json.project_ref }}', \n  '{{ $json.error_node }}', \n  '{{ $json.error_message }}', \n  '{{ $json.timestamp }}', \n  '{{ $json.workflow }}'\n);",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                2080,
                -2816
            ],
            "id": "1153867e-0474-4e86-83ec-b95b20f55d2c",
            "name": "MySQL - Log Error",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Audit Log - Track successful completions\nconst project = $input.first().json;\nconst auditEntry = {\n  project_ref: project.project_ref,\n  action: 'DESIGN_COMPLETED',\n  template_used: project.templatePath || project.template_path,\n  variables_injected: project.variablesInjected || 0,\n  images_converted: project.imagesConverted || 0,\n  qa_status: project.qaStatus,\n  qa_score: project.qaScore || 0,\n  html_size: project.processedHtml?.length || 0,\n  timestamp: new Date().toISOString(),\n  workflow_version: 'WF-WD-04-v2'\n};\nconsole.log('AUDIT:', JSON.stringify(auditEntry));\nreturn { json: { ...project, auditEntry } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2304,
                -2816
            ],
            "id": "bcbe92b6-3a9e-4a38-883e-644217a5d264",
            "name": "Audit Log - Design Complete"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO workflow_audit \n(project_ref, action, template_used, variables_injected, images_converted, qa_status, qa_score, html_size, timestamp, workflow_version) \nVALUES \n(\n  '{{ $json.auditEntry.project_ref }}',\n  '{{ $json.auditEntry.action }}',\n  '{{ $json.auditEntry.template_used }}',\n  {{ $json.auditEntry.variables_injected }},\n  {{ $json.auditEntry.images_converted }},\n  '{{ $json.auditEntry.qa_status }}',\n  {{ $json.auditEntry.qa_score }},\n  {{ $json.auditEntry.html_size }},\n  '{{ $json.auditEntry.timestamp }}',\n  '{{ $json.auditEntry.workflow_version }}'\n);",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                2528,
                -2816
            ],
            "id": "a9e4c877-0af1-4e8e-995c-510c22d97a8a",
            "name": "Execute Query",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "content": "# WF-WD-04: Design Template Workflow Documentation\n\n## Overview\nAutomated workflow that generates production-ready one-page websites for client projects. Uses AI agents to select templates, customize content, apply branding, and perform QA validation.\n\n**Version:** v2.0  \n**Last Updated:** 2026-01-05  \n**Status:** Production Ready ✅\n\n---\n\n## Workflow Summary\n\n```\nWebhook → Get Project → AI Planning → Fetch Template → Inject Variables \n→ AI Customization → QA Validation → Save to Database → Email Notification\n```\n\n**Total Execution Time:** ~30-60 seconds  \n**Success Rate:** 95%+ (with Phase 5 error handling)\n\n---\n\n## How It Works\n\n### 1. Trigger (Webhook)\n- **URL:** `https://omo.mtronika.co.za/webhook/start-design`\n- **Method:** POST\n- **Payload:** `{\"project_ref\": \"WD-2026-XXXXXXXX\"}`\n\n### 2. Fetch Project Data (MySQL)\nRetrieves client details from `projects` table:\n- `client_name`, `client_phone`, `client_email`\n- `industry_sector`, `business_intent`\n- `brand_colour` (hex color, default: `#FD5D14`)\n\n### 3. AI Planning Agent (Claude Haiku 3.5)\n**Purpose:** Select best template based on industry and business intent\n\n**Input:**\n- Industry sector (e.g., \"construction\", \"retail\")\n- Business intent (e.g., \"showcase past projects\")\n\n**Output:**\n```json\n{\n  \"selected_template\": \"construction/template_a_v1\",\n  \"status\": \"CONFIRMED\"\n}\n```\n\n**Templates Available:** 27+ templates across 15 industries  \n**Repository:** `MtronikaSP/mtronika-templates` (GitHub)\n\n### 4. Fetch Template & Blueprint (GitHub)\n- **Template:** `index.html` (single-page with embedded CSS/JS)\n- **Blueprint:** `blueprint.md` (template structure guide)\n- **Base64 Decoding:** Automatically handled in `Inject Variables` node\n\n### 5. Inject Variables & Image Placeholders\n**Variables Replaced:**\n- `{{business_name}}` → Client name\n- `{{phone}}` → Client phone\n- `{{email}}` → Client email\n- `{{brand_colour}}` → Hex color\n- `{{whatsapp}}` → WhatsApp number (formatted)\n\n**Image Placeholder System:**\n- Converts relative paths (`img/hero.jpg`) → Picsum.photos CDN\n- Seed: `project_ref` (ensures consistent images per project)\n- Dimension hints: carousel (1200x600), team (400x400), service (600x400), etc.\n\n**Example:**\n```html\n<!-- Before -->\n<img src=\"img/hero.jpg\">\n\n<!-- After -->\n<img src=\"https://picsum.photos/seed/WD-2026-MJYTE3HF-1/1200/600\">\n```\n\n### 6. AI Senior Dev Agent (Google Gemini 2.0 Flash)\n**Purpose:** Customize HTML content to match client's business\n\n**Tasks:**\n1. Rewrite generic text → client-specific copy\n2. Add CSS variable override for brand color\n3. Integrate WhatsApp contact links\n4. Update footer: \"© 2026 [Client Name]. Designed by Mtronika.\"\n\n**Output:** Full HTML document wrapped in markdown code block\n\n### 7. AI Reflection Agent (Google Gemini 2.0 Flash)\n**Purpose:** QA validation\n\n**Checks:**\n- No `{{handlebars}}` remaining\n- Valid HTML structure (DOCTYPE, html, head, body)\n- CSS styling present\n\n**Output:**\n```json\n{\n  \"status\": \"QA_PASS\",\n  \"error_log\": \"\",\n  \"quality_score\": 90\n}\n```\n\n### 8. Database Update (MySQL)\n**Table:** `projects`  \n**Field:** `processed_html` (stores final HTML)  \n**Status:** `deployment_status` → `Design_Complete`\n\n### 9. Audit Logging (Phase 5)\n**Table:** `workflow_audit`  \n**Tracks:**\n- Template used\n- Variables injected count\n- Images converted count\n- QA status & score\n- HTML size\n- Timestamp\n\n### 10. Webhook Response & Email\n**Webhook Response:**\n```json\n{\n  \"status\": \"design_complete\",\n  \"project_ref\": \"WD-2026-MJYTE3HF\",\n  \"template_used\": \"construction/template_a_v1\",\n  \"variables_injected\": 11,\n  \"images_converted\": 22,\n  \"qa_status\": \"QA_PASS\",\n  \"qa_score\": 90\n}\n```\n\n**Email:** Admin notification with preview link\n\n---\n\n## Prerequisites\n\n### Database Tables Required\n```sql\n-- Main projects table (must have brand_colour column)\nALTER TABLE projects \nADD COLUMN brand_colour VARCHAR(7) DEFAULT '#FD5D14';\n\n-- Error logging (Phase 5)\nCREATE TABLE workflow_errors (\n  id INT AUTO_INCREMENT PRIMARY KEY,\n  project_ref VARCHAR(50),\n  error_node VARCHAR(100),\n  error_message TEXT,\n  timestamp DATETIME,\n  workflow VARCHAR(50),\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\n-- Audit logging (Phase 5)\nCREATE TABLE workflow_audit (\n  id INT AUTO_INCREMENT PRIMARY KEY,\n  project_ref VARCHAR(50),\n  action VARCHAR(50),\n  template_used VARCHAR(100),\n  variables_injected INT,\n  images_converted INT,\n  qa_status VARCHAR(20),\n  qa_score INT,\n  html_size INT,\n  timestamp DATETIME,\n  workflow_version VARCHAR(50),\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n```\n\n### Required Credentials\n1. **MySQL** → Database connection\n2. **GitHub OAuth** → Template repository access\n3. **Anthropic API** → Claude Haiku 3.5 (Planning Agent)\n4. **Google Gemini API** → Gemini 2.0 Flash (Senior Dev & Reflection)\n5. **SMTP** → Email notifications\n\n### GitHub Repository\n- **Repo:** `MtronikaSP/mtronika-templates`\n- **Structure:**\n  ```\n  templates/\n    ├── construction/\n    │   ├── template_a_v1/\n    │   │   ├── index.html\n    │   │   └── blueprint.md\n    │   └── template_b_v1/\n    ├── retail-e-commerce/\n    │   ├── template_a_v1/\n    │   ├── template_b_v1/\n    │   └── template_c_v1/\n    └── ...\n  ```\n\n---\n\n## Testing\n\n### Manual Test\n```bash\ncurl -X POST https://omo.mtronika.co.za/webhook/start-design \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"project_ref\": \"WD-2026-MJYTE3HF\"}'\n```\n\n### Expected Success Indicators\n1. ✅ Webhook returns status 200\n2. ✅ Email received within 60 seconds\n3. ✅ Database `processed_html` field populated\n4. ✅ `deployment_status` = `Design_Complete`\n5. ✅ HTML contains brand color override\n6. ✅ Images use Picsum.photos URLs\n\n### Validation Checklist\n- [ ] Open HTML in browser → renders correctly\n- [ ] Check brand color on buttons/navbar\n- [ ] Verify client name in header/footer\n- [ ] WhatsApp link functional (if phone provided)\n- [ ] No `{{handlebars}}` visible\n- [ ] Images load from Picsum.photos\n\n---\n\n## Troubleshooting\n\n### Common Issues\n\n#### 1. \"Model output doesn't fit required format\"\n**Cause:** Structured Output Parser enabled on AI agent  \n**Fix:** Disable \"Require Specific Output Format\" toggle on AI nodes\n\n#### 2. \"Cannot read properties of undefined (reading 'content')\"\n**Cause:** GitHub returns base64-encoded content  \n**Fix:** Ensure `Inject Variables` and `Agent - Senior Dev Prompt` decode base64:\n```javascript\ntemplateContent = Buffer.from(templateRaw, 'base64').toString('utf8');\n```\n\n#### 3. Images not showing\n**Cause:** Relative paths not converted  \n**Fix:** Verify `Inject Variables` node has image placeholder regex logic\n\n#### 4. QA fails with \"HTML structure incomplete\"\n**Cause:** Reflection Agent only sees truncated samples  \n**Fix:** Update prompt to acknowledge it's seeing samples, not full HTML\n\n#### 5. Brand color not applied\n**Cause:** `brand_colour` column missing in database  \n**Fix:** Run `ALTER TABLE projects ADD COLUMN brand_colour VARCHAR(7)`\n\n---\n\n## Monitoring & Maintenance\n\n### Check Error Logs\n```sql\nSELECT * FROM workflow_errors \nWHERE created_at > DATE_SUB(NOW(), INTERVAL 24 HOUR)\nORDER BY created_at DESC;\n```\n\n### Check Audit Logs\n```sql\nSELECT \n  action,\n  COUNT(*) as total,\n  AVG(qa_score) as avg_score,\n  AVG(html_size) as avg_size\nFROM workflow_audit\nWHERE created_at > DATE_SUB(NOW(), INTERVAL 7 DAY)\nGROUP BY action;\n```\n\n### Performance Metrics\n- **Avg Execution Time:** 45 seconds\n- **Avg HTML Size:** 80-120 KB\n- **Avg QA Score:** 90+\n- **Variables Injected:** 11-15 per project\n- **Images Converted:** 20-30 per template\n\n---\n\n## Version History\n\n### v2.0 (2026-01-05) - Current\n- ✅ Added Phase 2: Parser fixes for Gemini `.output` format\n- ✅ Added Phase 3: Picsum.photos image placeholder system\n- ✅ Added Phase 4: Enhanced AI prompts with content customization\n- ✅ Added Phase 5: Error logging & audit tracking\n- ✅ Upgraded AI models to Gemini 2.0 Flash\n- ✅ Fixed base64 decoding for GitHub templates\n\n### v1.0 (2025-12-XX) - Initial\n- Basic template selection and variable injection\n- Used Claude for all AI tasks\n- No image placeholder system\n- No QA validation\n\n---\n\n## Support\n\n**Questions?** Contact: Kanyo M (Owner)  \n**Issues?** Check `workflow_errors` table first  \n**Template Updates?** Push to `MtronikaSP/mtronika-templates` on GitHub\n\n---\n\n## Quick Reference\n\n| Node | Purpose | AI Model | Critical? |\n|------|---------|----------|-----------|\n| Webhook - Start Design | Trigger | - | ✅ |\n| MySQL - Get Project | Fetch data | - | ✅ |\n| AI Planning Agent | Template selection | Claude Haiku 3.5 | ✅ |\n| GitHub - Get Template | Fetch HTML | - | ✅ |\n| GitHub - Get Blueprint | Fetch structure guide | - | ⚠️ |\n| Inject Variables | Replace placeholders + images | - | ✅ |\n| AI Senior Dev Agent | Customize HTML | Gemini 2.0 Flash | ✅ |\n| AI Reflection Agent | QA validation | Gemini 2.0 Flash | ⚠️ |\n| MySQL - Update Design Status | Save HTML | - | ✅ |\n| Respond to Webhook | Return status | - | ⚠️ |\n| Send Email - Admin | Notification | - | ⚠️ |\n\n**Legend:**  \n✅ = Critical (workflow fails without)  \n⚠️ = Important (workflow continues without)\n\n---\n\n**END OF DOCUMENTATION**\n",
                "height": 7632,
                "width": 1312
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                304,
                -4208
            ],
            "typeVersion": 1,
            "id": "fb98de16-2e8e-4233-99e7-e2ff9a0270ff",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "jsCode": "// Tier Router - Determine which expansion workflow to call\n// Get project data from Agent - Parse Reflection (not from $input which is MySQL result)\nconst project = $('Agent - Parse Reflection').item.json;\nconst tier = project.package_tier || 'vBronze';\n// Map tier to webhook URL\nconst tierWebhooks = {\n  'vBronze': 'https://omo.mtronika.co.za/webhook/expand-vbronze',\n  'vSilver': 'https://omo.mtronika.co.za/webhook/expand-vsilver',\n  'vGold': 'https://omo.mtronika.co.za/webhook/expand-vgold',\n  'vPlatinum': 'https://omo.mtronika.co.za/webhook/expand-vplatinum'\n};\n// Map tier to page count\nconst tierPageCounts = {\n  'vBronze': 4,\n  'vSilver': 7,\n  'vGold': 12,\n  'vPlatinum': 15\n};\nconst webhookUrl = tierWebhooks[tier] || tierWebhooks['vBronze'];\nconst pagesRequired = tierPageCounts[tier] || 4;\nreturn {\n  json: {\n    project_ref: project.project_ref,\n    package_tier: tier,\n    pages_required: pagesRequired,\n    webhook_url: webhookUrl,\n    client_name: project.client_name,\n    trigger_expansion: true\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6064,
                -3248
            ],
            "id": "ea7331f8-db73-4499-9607-dc097680ca01",
            "name": "Tier Router"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.webhook_url }}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "project_ref",
                            "value": "={{ $json.project_ref }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 300000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                6304,
                -3248
            ],
            "id": "116ea3ee-7e62-462c-bc41-903321d4ff64",
            "name": "Trigger Tier Expansion"
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "website-orders@mtronika.co.za",
                "subject": "=🚀 Tier Expansion Started: {{ $('Tier Router').item.json.project_ref }} - {{ $('Tier Router').item.json.package_tier }}",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Expansion Started</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif; line-height: 1.6; color: #333333;\">\n<div style=\"width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n    <div style=\"text-align: center; padding: 20px 0;\">\n        <img src=\"https://mtronika.co.za/assets/images/icon.png\" \n             alt=\"Mtronika - Joy in Every Click\" \n             style=\"max-width: 180px; width: 100%; height: auto; display: inline-block;\" />\n    </div>\n\n    <div style=\"background: linear-gradient(135deg, #ff0000, #ff6600); color: white; padding: 25px 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">🚀 Page Expansion Started</h1>\n        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Ref: {{ $('Tier Router').item.json.project_ref }}</p>\n    </div>\n\n    <div style=\"background: #ffffff; padding: 30px; border-radius: 0 0 8px 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.05);\">\n        \n        <h3 style=\"color: #ff0000; border-bottom: 2px solid #ff0000; padding-bottom: 8px; margin-top: 0; font-size: 18px;\">📋 Project Snapshot</h3>\n        \n        <div style=\"background: #f9f9f9; padding: 20px; border-radius: 8px; border-left: 4px solid #ff0000; margin: 20px 0;\">\n            <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold; color: #555; width: 150px;\">Client:</td>\n                    <td style=\"padding: 8px 0; color: #333;\">{{ $('Tier Router').item.json.client_name }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Package Tier:</td>\n                    <td style=\"padding: 8px 0; color: #333; text-transform: uppercase;\">{{ $('Tier Router').item.json.package_tier }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold; color: #555;\">Pages Required:</td>\n                    <td style=\"padding: 8px 0; color: #333; font-weight: bold;\">{{ $('Tier Router').item.json.pages_required }}</td>\n                </tr>\n            </table>\n        </div>\n\n        <div style=\"background: #fff9f5; padding: 15px; border-radius: 8px; border-left: 4px solid #ff6600; margin-top: 25px;\">\n            <p style=\"margin: 0; font-size: 14px; color: #333;\">\n                <strong>⚡ System Status:</strong> The tier-specific workflow has been triggered. The AI is now generating the additional pages required for this package.\n            </p>\n        </div>\n\n    </div>\n\n    <div style=\"text-align: center; padding: 20px; color: #777777; font-size: 12px;\">\n        <p style=\"margin: 5px 0;\">Automated Internal Alert • Mtronika Web Dept</p>\n        <p style=\"margin: 5px 0;\">© 2026 Mtronika • Krugersdorp HQ</p>\n    </div>\n\n</div>\n</body>\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                6304,
                -3440
            ],
            "id": "cc4b5b48-da1e-4aa5-a78b-b63483d333eb",
            "name": "Email - Tier Expansion Started",
            "webhookId": "b8ca8012-de51-4307-8d7e-c8f7a7507068",
            "credentials": {
                "smtp": {
                    "id": "TvYLDVjPK9MEHOk9",
                    "name": "SMTP account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Start Design": {
            "main": [
                [
                    {
                        "node": "MySQL - Get Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Get Project": {
            "main": [
                [
                    {
                        "node": "Agent - Planning Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent - Planning Prompt": {
            "main": [
                [
                    {
                        "node": "AI Planning Agent Node",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent - Parse Planning": {
            "main": [
                [
                    {
                        "node": "IF Intent Unclear?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Intent Unclear?": {
            "main": [
                [
                    {
                        "node": "Email - Intent Unclear",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "GitHub - Get Template",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Inject Variables": {
            "main": [
                [
                    {
                        "node": "Agent - Senior Dev Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent - Senior Dev Prompt": {
            "main": [
                [
                    {
                        "node": "AI Senior Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent - Parse Senior Dev": {
            "main": [
                [
                    {
                        "node": "Agent - Reflection Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent - Reflection Prompt": {
            "main": [
                [
                    {
                        "node": "AI Reflection Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent - Parse Reflection": {
            "main": [
                [
                    {
                        "node": "IF QA Pass?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF QA Pass?": {
            "main": [
                [
                    {
                        "node": "MySQL - Update Design Status",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email - QA Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Update Design Status": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send Email - Admin Preview Ready",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Tier Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Planning Agent Node": {
            "main": [
                [
                    {
                        "node": "Agent - Parse Planning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Planning Agent Node",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Senior Dev Agent": {
            "main": [
                [
                    {
                        "node": "Agent - Parse Senior Dev",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Reflection Agent": {
            "main": [
                [
                    {
                        "node": "Agent - Parse Reflection",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Reflection Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub - Get Template": {
            "main": [
                [
                    {
                        "node": "GitHub - Get Blueprint",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub - Get Blueprint": {
            "main": [
                [
                    {
                        "node": "Inject Variables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Senior Dev Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Error Catcher - AI Failure": {
            "main": [
                [
                    {
                        "node": "Log Error to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Error to Database": {
            "main": [
                [
                    {
                        "node": "MySQL - Log Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Log Error": {
            "main": [
                [
                    {
                        "node": "Audit Log - Design Complete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Audit Log - Design Complete": {
            "main": [
                [
                    {
                        "node": "Execute Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tier Router": {
            "main": [
                [
                    {
                        "node": "Trigger Tier Expansion",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Email - Tier Expansion Started",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook - Start Design": [
            {
                "headers": {
                    "host": "omo.mtronika.co.za",
                    "user-agent": "curl/8.5.0",
                    "content-length": "35",
                    "accept": "*/*",
                    "content-type": "application/json",
                    "via": "2.0 Caddy",
                    "x-forwarded-for": "196.39.75.108",
                    "x-forwarded-host": "omo.mtronika.co.za",
                    "x-forwarded-proto": "https",
                    "accept-encoding": "gzip"
                },
                "params": {},
                "query": {},
                "body": {
                    "project_ref": "WD-2026-MJYTE3HF"
                },
                "webhookUrl": "https://omo.mtronika.co.za/webhook/start-design",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "0c4e1e5325de5935e7052b5ce1c1cf23ed3ad9a4fa00e0e387f84b3088759ff5"
    }
}