WF-WD-04-vPlatinum.json
{
    "name": "WF-WD-04-vPlatinum: 15-Page Expansion",
    "nodes": [
        {
            "parameters": {
                "content": "## WF-WD-04-vPlatinum: 15-Page Expansion\n\n**Purpose:** Expand single-page template to full 15-page vPlatinum website\n\n**Pages Generated:**\n1. Home (from WF-WD-04)\n2. About\n3. Services\n4. Contact\n5. Gallery\n6. Testimonials\n7. FAQ\n8. Booking\n9. Payment\n10. Registration\n11. Confirmation\n12. Invoice\n13. Locations\n14. Blog\n15. Team\n\n**Trigger:** Called by WF-WD-04 after base template is ready",
                "height": 480,
                "width": 350,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -600,
                -200
            ],
            "typeVersion": 1,
            "id": "sticky-overview",
            "name": "Sticky Note - Overview"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "expand-vplatinum",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -200,
                300
            ],
            "id": "webhook-expand",
            "name": "Webhook - Expand vPlatinum",
            "webhookId": "expand-vplatinum"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT p.*, pp.page_html as home_html FROM projects p LEFT JOIN project_pages pp ON p.project_ref = pp.project_ref AND pp.page_slug = 'index' WHERE p.project_ref = '{{ $json.body.project_ref }}' LIMIT 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                40,
                300
            ],
            "id": "mysql-get-project",
            "name": "MySQL - Get Project",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build prompts for all 14 remaining pages (home already exists)\nconst project = $input.first().json;\nconst homeHtml = project.home_html || project.processed_html;\n\n// Extract header and footer from home page for consistency\nconst headerMatch = homeHtml.match(/<!-- Topbar Start -->[\\s\\S]*?<!-- Navbar End -->/i);\nconst footerMatch = homeHtml.match(/<!-- Footer Start -->[\\s\\S]*?<!-- Footer End -->/i);\nconst header = headerMatch ? headerMatch[0] : '';\nconst footer = footerMatch ? footerMatch[0] : '';\n\n// Extract CSS from head\nconst headMatch = homeHtml.match(/<head>[\\s\\S]*?<\\/head>/i);\nconst headContent = headMatch ? headMatch[0] : '';\n\n// Pages to generate (14 pages, home already done)\nconst pagesToGenerate = [\n  { name: 'About', slug: 'about', order: 2, desc: 'Company history, mission, values, team overview' },\n  { name: 'Services', slug: 'services', order: 3, desc: 'All services offered with descriptions and CTAs' },\n  { name: 'Contact', slug: 'contact', order: 4, desc: 'Contact form, map, phone, email, WhatsApp, address' },\n  { name: 'Gallery', slug: 'gallery', order: 5, desc: 'Portfolio/project gallery with categories and lightbox' },\n  { name: 'Testimonials', slug: 'testimonials', order: 6, desc: 'Client reviews and success stories' },\n  { name: 'FAQ', slug: 'faq', order: 7, desc: 'Frequently asked questions with accordion' },\n  { name: 'Booking', slug: 'booking', order: 8, desc: 'Appointment/service booking form with calendar' },\n  { name: 'Payment', slug: 'payment', order: 9, desc: 'Online payment page with Yoco/PayFast integration placeholder' },\n  { name: 'Registration', slug: 'register', order: 10, desc: 'Client registration/signup form' },\n  { name: 'Confirmation', slug: 'confirmation', order: 11, desc: 'Order/booking confirmation page' },\n  { name: 'Invoice', slug: 'invoice', order: 12, desc: 'Invoice display page' },\n  { name: 'Locations', slug: 'locations', order: 13, desc: 'Multi-location page with maps and branch details' },\n  { name: 'Blog', slug: 'blog', order: 14, desc: 'Blog/news listing with article previews' },\n  { name: 'Team', slug: 'team', order: 15, desc: 'Full team member profiles with roles and social links' }\n];\n\nreturn {\n  json: {\n    project,\n    header,\n    footer,\n    headContent,\n    pagesToGenerate,\n    brandColour: project.brand_colour || '#FD5D14',\n    clientName: project.client_name,\n    industrySector: project.industry_sector,\n    businessIntent: project.business_intent,\n    phone: project.client_phone,\n    email: project.client_email\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                280,
                300
            ],
            "id": "prepare-page-prompts",
            "name": "Prepare Page Generation"
        },
        {
            "parameters": {
                "jsCode": "// Generate About Page\nconst data = $input.first().json;\n\nconst prompt = `\n### Role\nYou are a Senior Web Developer creating the ABOUT page for ${data.clientName}.\n\n### Context\n- Industry: ${data.industrySector}\n- Business Intent: ${data.businessIntent}\n- Brand Color: ${data.brandColour}\n\n### Page Requirements\nCreate a complete About page with:\n1. Company history/story section\n2. Mission and values\n3. Why choose us section\n4. Team overview teaser (link to team page)\n5. Call to action\n\n### Header (Use exactly as-is)\n\\`\\`\\`html\n${data.header}\n\\`\\`\\`\n\n### Footer (Use exactly as-is)\n\\`\\`\\`html\n${data.footer}\n\\`\\`\\`\n\n### Head Content (Use exactly as-is, update title only)\n\\`\\`\\`html\n${data.headContent}\n\\`\\`\\`\n\n### Navigation Links\nUpdate nav links to: index.html, about.html, services.html, gallery.html, team.html, blog.html, contact.html\n\n### Output\nReturn ONLY the complete HTML wrapped in \\`\\`\\`html blocks. No explanations.\nUse Picsum.photos for images with seed: ${data.project.project_ref}-about\n`;\n\nreturn { json: { prompt, pageData: data.pagesToGenerate[0], ...data } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                100
            ],
            "id": "prompt-about",
            "name": "Prompt - About Page"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                100
            ],
            "id": "ai-generate-about",
            "name": "AI Generate - About"
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                760,
                320
            ],
            "id": "gemini-model-1",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "ZLZ470lIBf79ePht",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response and extract HTML\nconst aiResponse = $input.first().json;\nconst pageData = $('Prompt - About Page').item.json.pageData;\nconst project = $('Prompt - About Page').item.json.project;\n\nlet html = '';\ntry {\n  if (aiResponse.output) {\n    const htmlMatch = aiResponse.output.match(/```html([\\s\\S]*?)```/);\n    html = htmlMatch ? htmlMatch[1].trim() : aiResponse.output;\n  } else if (aiResponse.text) {\n    const htmlMatch = aiResponse.text.match(/```html([\\s\\S]*?)```/);\n    html = htmlMatch ? htmlMatch[1].trim() : aiResponse.text;\n  }\n} catch (e) {\n  html = '<!-- Error generating page -->';\n}\n\nreturn {\n  json: {\n    project_ref: project.project_ref,\n    page_name: pageData.name,\n    page_slug: pageData.slug,\n    page_order: pageData.order,\n    page_html: html,\n    is_generated: true\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                100
            ],
            "id": "parse-about",
            "name": "Parse - About Page"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, {{ $json.is_generated }}) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = VALUES(is_generated);",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                100
            ],
            "id": "save-about",
            "name": "Save - About Page",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Generate Services Page\nconst data = $('Prepare Page Generation').item.json;\n\nconst prompt = `\n### Role\nYou are a Senior Web Developer creating the SERVICES page for ${data.clientName}.\n\n### Context\n- Industry: ${data.industrySector}\n- Business Intent: ${data.businessIntent}\n- Brand Color: ${data.brandColour}\n\n### Page Requirements\nCreate a complete Services page with:\n1. Services overview section\n2. Individual service cards (6-8 services)\n3. Service details with icons\n4. Pricing hints or \"Get Quote\" CTAs\n5. Call to action section\n\n### Header (Use exactly as-is)\n\\`\\`\\`html\n${data.header}\n\\`\\`\\`\n\n### Footer (Use exactly as-is)\n\\`\\`\\`html\n${data.footer}\n\\`\\`\\`\n\n### Navigation\nUpdate nav to: index.html, about.html, services.html, gallery.html, team.html, blog.html, contact.html\nMark services.html as active.\n\n### Output\nReturn ONLY the complete HTML wrapped in \\`\\`\\`html blocks.\nUse Picsum.photos for images with seed: ${data.project.project_ref}-services\n`;\n\nreturn { json: { prompt, pageData: data.pagesToGenerate[1], ...data } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                400
            ],
            "id": "prompt-services",
            "name": "Prompt - Services Page"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                400
            ],
            "id": "ai-generate-services",
            "name": "AI Generate - Services"
        },
        {
            "parameters": {
                "jsCode": "// Parse Services Page\nconst aiResponse = $input.first().json;\nconst pageData = $('Prompt - Services Page').item.json.pageData;\nconst project = $('Prompt - Services Page').item.json.project;\n\nlet html = '';\ntry {\n  if (aiResponse.output) {\n    const htmlMatch = aiResponse.output.match(/```html([\\s\\S]*?)```/);\n    html = htmlMatch ? htmlMatch[1].trim() : aiResponse.output;\n  }\n} catch (e) {\n  html = '<!-- Error generating page -->';\n}\n\nreturn {\n  json: {\n    project_ref: project.project_ref,\n    page_name: pageData.name,\n    page_slug: pageData.slug,\n    page_order: pageData.order,\n    page_html: html,\n    is_generated: true\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                400
            ],
            "id": "parse-services",
            "name": "Parse - Services Page"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, {{ $json.is_generated }}) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = VALUES(is_generated);",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                400
            ],
            "id": "save-services",
            "name": "Save - Services Page",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Generate Contact Page\nconst data = $('Prepare Page Generation').item.json;\n\nconst prompt = `\n### Role\nYou are a Senior Web Developer creating the CONTACT page for ${data.clientName}.\n\n### Context\n- Industry: ${data.industrySector}\n- Phone: ${data.phone || 'Not provided'}\n- Email: ${data.email || 'Not provided'}\n- Brand Color: ${data.brandColour}\n\n### Page Requirements\nCreate a complete Contact page with:\n1. Contact form (name, email, phone, message, service dropdown)\n2. Google Maps embed placeholder\n3. Contact details section (phone, email, address)\n4. WhatsApp link: https://wa.me/${data.phone}\n5. Business hours section\n6. Social media links\n\n### Header (Use exactly as-is)\n\\`\\`\\`html\n${data.header}\n\\`\\`\\`\n\n### Footer (Use exactly as-is)\n\\`\\`\\`html\n${data.footer}\n\\`\\`\\`\n\n### Navigation\nUpdate nav and mark contact.html as active.\n\n### Output\nReturn ONLY the complete HTML wrapped in \\`\\`\\`html blocks.\n`;\n\nreturn { json: { prompt, pageData: data.pagesToGenerate[2], ...data } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                700
            ],
            "id": "prompt-contact",
            "name": "Prompt - Contact Page"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                700
            ],
            "id": "ai-generate-contact",
            "name": "AI Generate - Contact"
        },
        {
            "parameters": {
                "jsCode": "// Parse Contact Page\nconst aiResponse = $input.first().json;\nconst pageData = $('Prompt - Contact Page').item.json.pageData;\nconst project = $('Prompt - Contact Page').item.json.project;\n\nlet html = '';\ntry {\n  if (aiResponse.output) {\n    const htmlMatch = aiResponse.output.match(/```html([\\s\\S]*?)```/);\n    html = htmlMatch ? htmlMatch[1].trim() : aiResponse.output;\n  }\n} catch (e) {\n  html = '<!-- Error generating page -->';\n}\n\nreturn {\n  json: {\n    project_ref: project.project_ref,\n    page_name: pageData.name,\n    page_slug: pageData.slug,\n    page_order: pageData.order,\n    page_html: html,\n    is_generated: true\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                700
            ],
            "id": "parse-contact",
            "name": "Parse - Contact Page"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, {{ $json.is_generated }}) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = VALUES(is_generated);",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                700
            ],
            "id": "save-contact",
            "name": "Save - Contact Page",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Generate Gallery Page\nconst data = $('Prepare Page Generation').item.json;\n\nconst prompt = `\n### Role\nYou are a Senior Web Developer creating the GALLERY/PORTFOLIO page for ${data.clientName}.\n\n### Context\n- Industry: ${data.industrySector}\n- Business Intent: ${data.businessIntent}\n- Brand Color: ${data.brandColour}\n\n### Page Requirements\nCreate a complete Gallery page with:\n1. Gallery filter buttons (All, Category 1, Category 2, etc.)\n2. Image grid with 12-16 portfolio items\n3. Lightbox functionality (use data attributes for lightbox library)\n4. Before/After comparison section if applicable\n5. Call to action to contact\n\n### Header (Use exactly as-is)\n\\`\\`\\`html\n${data.header}\n\\`\\`\\`\n\n### Footer (Use exactly as-is)\n\\`\\`\\`html\n${data.footer}\n\\`\\`\\`\n\n### Output\nReturn ONLY the complete HTML wrapped in \\`\\`\\`html blocks.\nUse Picsum.photos for gallery images with seeds: ${data.project.project_ref}-gallery-1 through -16\n`;\n\nreturn { json: { prompt, pageData: data.pagesToGenerate[3], ...data } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                1000
            ],
            "id": "prompt-gallery",
            "name": "Prompt - Gallery Page"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                1000
            ],
            "id": "ai-generate-gallery",
            "name": "AI Generate - Gallery"
        },
        {
            "parameters": {
                "jsCode": "// Parse Gallery Page\nconst aiResponse = $input.first().json;\nconst pageData = $('Prompt - Gallery Page').item.json.pageData;\nconst project = $('Prompt - Gallery Page').item.json.project;\n\nlet html = '';\ntry {\n  if (aiResponse.output) {\n    const htmlMatch = aiResponse.output.match(/```html([\\s\\S]*?)```/);\n    html = htmlMatch ? htmlMatch[1].trim() : aiResponse.output;\n  }\n} catch (e) {\n  html = '<!-- Error generating page -->';\n}\n\nreturn {\n  json: {\n    project_ref: project.project_ref,\n    page_name: pageData.name,\n    page_slug: pageData.slug,\n    page_order: pageData.order,\n    page_html: html,\n    is_generated: true\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                1000
            ],
            "id": "parse-gallery",
            "name": "Parse - Gallery Page"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, {{ $json.is_generated }}) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = VALUES(is_generated);",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                1000
            ],
            "id": "save-gallery",
            "name": "Save - Gallery Page",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE projects SET pages_generated = (SELECT COUNT(*) FROM project_pages WHERE project_ref = '{{ $('MySQL - Get Project').item.json.project_ref }}') WHERE project_ref = '{{ $('MySQL - Get Project').item.json.project_ref }}';",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1480,
                550
            ],
            "id": "update-page-count",
            "name": "Update Page Count",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"pages_generated\",\n  \"project_ref\": \"{{ $('MySQL - Get Project').item.json.project_ref }}\",\n  \"package_tier\": \"vPlatinum\",\n  \"pages_generated\": 5,\n  \"pages_remaining\": 10,\n  \"message\": \"First batch of pages generated. Run workflow again for remaining pages.\"\n}",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1720,
                550
            ],
            "id": "respond-webhook",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "fromEmail": "projects@mtronika.co.za",
                "toEmail": "website-orders@mtronika.co.za",
                "subject": "=🏗️ Pages Generated: {{ $('MySQL - Get Project').item.json.project_ref }} - Batch 1 Complete",
                "html": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>Pages Generated</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;\">\n<div style=\"max-width: 600px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden;\">\n    <div style=\"background: linear-gradient(135deg, #28a745, #20c997); padding: 25px; text-align: center;\">\n        <h1 style=\"color: white; margin: 0;\">🏗️ Pages Generated</h1>\n        <p style=\"color: white; opacity: 0.9;\">{{ $('MySQL - Get Project').item.json.project_ref }}</p>\n    </div>\n    <div style=\"padding: 30px;\">\n        <h3 style=\"color: #28a745;\">{{ $('MySQL - Get Project').item.json.client_name }}</h3>\n        <p><strong>Package:</strong> vPlatinum (15 pages)</p>\n        <p><strong>Batch 1 Complete:</strong></p>\n        <ul>\n            <li>✅ Home (index.html)</li>\n            <li>✅ About (about.html)</li>\n            <li>✅ Services (services.html)</li>\n            <li>✅ Contact (contact.html)</li>\n            <li>✅ Gallery (gallery.html)</li>\n        </ul>\n        <p style=\"color: #6c757d;\">Remaining pages will be generated in Batch 2.</p>\n        <div style=\"text-align: center; margin-top: 20px;\">\n            <a href=\"https://server.mtronika.co.za/phpMyAdmin\" style=\"background: #28a745; color: white; padding: 12px 30px; text-decoration: none; border-radius: 50px; font-weight: bold;\">View in Database</a>\n        </div>\n    </div>\n</div>\n</body>\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1720,
                350
            ],
            "id": "send-email",
            "name": "Send Email - Batch Complete",
            "credentials": {
                "smtp": {
                    "id": "mLvvLmRFmDWwHvCg",
                    "name": "SMTP Gmail Kanyo"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Expand vPlatinum": {
            "main": [
                [
                    {
                        "node": "MySQL - Get Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Get Project": {
            "main": [
                [
                    {
                        "node": "Prepare Page Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Page Generation": {
            "main": [
                [
                    {
                        "node": "Prompt - About Page",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prompt - Services Page",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prompt - Contact Page",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prompt - Gallery Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - About Page": {
            "main": [
                [
                    {
                        "node": "AI Generate - About",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Generate - About": {
            "main": [
                [
                    {
                        "node": "Parse - About Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - About Page": {
            "main": [
                [
                    {
                        "node": "Save - About Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save - About Page": {
            "main": [
                [
                    {
                        "node": "Update Page Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - Services Page": {
            "main": [
                [
                    {
                        "node": "AI Generate - Services",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Generate - Services": {
            "main": [
                [
                    {
                        "node": "Parse - Services Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - Services Page": {
            "main": [
                [
                    {
                        "node": "Save - Services Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - Contact Page": {
            "main": [
                [
                    {
                        "node": "AI Generate - Contact",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Generate - Contact": {
            "main": [
                [
                    {
                        "node": "Parse - Contact Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - Contact Page": {
            "main": [
                [
                    {
                        "node": "Save - Contact Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - Gallery Page": {
            "main": [
                [
                    {
                        "node": "AI Generate - Gallery",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Generate - Gallery": {
            "main": [
                [
                    {
                        "node": "Parse - Gallery Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - Gallery Page": {
            "main": [
                [
                    {
                        "node": "Save - Gallery Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save - Gallery Page": {
            "main": [
                [
                    {
                        "node": "Update Page Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Page Count": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send Email - Batch Complete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Generate - About",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "AI Generate - Services",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "AI Generate - Contact",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "AI Generate - Gallery",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "mtronika-vplatinum-workflow"
    }
}