WF-WD-04-vBronze.json
{
    "name": "WF-WD-04-vBronze: 4-Page Expansion",
    "nodes": [
        {
            "parameters": {
                "content": "## WF-WD-04-vBronze: 4-Page Website\n\n**Package:** vBronze (R389/month)\n**Pages:** Home, About, Services, Contact\n**Delivery:** 48 hours\n\n**Trigger:** Called by WF-WD-04 tier router",
                "height": 200,
                "width": 300,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -600,
                -100
            ],
            "typeVersion": 1,
            "id": "sticky-vbronze",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "expand-vbronze",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -200,
                300
            ],
            "id": "webhook-vbronze",
            "name": "Webhook - Expand vBronze",
            "webhookId": "expand-vbronze"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT p.*, pp.page_html as home_html FROM projects p LEFT JOIN project_pages pp ON p.project_ref = pp.project_ref AND pp.page_slug = 'index' WHERE p.project_ref = '{{ $json.body.project_ref }}' LIMIT 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                40,
                300
            ],
            "id": "mysql-get-project",
            "name": "MySQL - Get Project",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// vBronze: Prepare 3 additional pages (home already exists)\nconst project = $input.first().json;\nconst homeHtml = project.home_html || project.processed_html || '';\n\n// Extract header/footer for consistency\nconst headerMatch = homeHtml.match(/<!-- Topbar Start -->[\\s\\S]*?<!-- Navbar End -->/i);\nconst footerMatch = homeHtml.match(/<!-- Footer Start -->[\\s\\S]*?<!-- Footer End -->/i);\nconst headMatch = homeHtml.match(/<head>[\\s\\S]*?<\\/head>/i);\n\nreturn {\n  json: {\n    project,\n    header: headerMatch ? headerMatch[0] : '',\n    footer: footerMatch ? footerMatch[0] : '',\n    headContent: headMatch ? headMatch[0] : '',\n    brandColour: project.brand_colour || '#FD5D14',\n    clientName: project.client_name,\n    industrySector: project.industry_sector,\n    businessIntent: project.business_intent,\n    phone: project.client_phone,\n    email: project.client_email,\n    pages: [\n      { name: 'About', slug: 'about', order: 2 },\n      { name: 'Services', slug: 'services', order: 3 },\n      { name: 'Contact', slug: 'contact', order: 4 }\n    ]\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                280,
                300
            ],
            "id": "prepare-vbronze",
            "name": "Prepare vBronze Pages"
        },
        {
            "parameters": {
                "jsCode": "// Generate About Page Prompt\nconst d = $input.first().json;\nconst prompt = `Create an About page for ${d.clientName} (${d.industrySector}).\nBusiness: ${d.businessIntent}\nBrand color: ${d.brandColour}\n\nInclude: Company story, mission, values, why choose us, team teaser.\nUse this header:\\n${d.header}\\nUse this footer:\\n${d.footer}\\nReturn complete HTML wrapped in \\`\\`\\`html blocks.`;\nreturn { json: { prompt, ...d, currentPage: d.pages[0] } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                200
            ],
            "id": "prompt-about",
            "name": "Prompt - About"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                200
            ],
            "id": "ai-about",
            "name": "AI - About Page"
        },
        {
            "parameters": {
                "jsCode": "const ai = $input.first().json;\nconst page = $('Prompt - About').item.json.currentPage;\nconst proj = $('Prompt - About').item.json.project;\nlet html = '';\nif (ai.output) {\n  const m = ai.output.match(/```html([\\s\\S]*?)```/);\n  html = m ? m[1].trim() : ai.output;\n}\nreturn { json: { project_ref: proj.project_ref, page_name: page.name, page_slug: page.slug, page_order: page.order, page_html: html, is_generated: true } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                200
            ],
            "id": "parse-about",
            "name": "Parse - About"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, 1) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                200
            ],
            "id": "save-about",
            "name": "Save - About",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const d = $('Prepare vBronze Pages').item.json;\nconst prompt = `Create a Services page for ${d.clientName} (${d.industrySector}).\nBusiness: ${d.businessIntent}\nBrand color: ${d.brandColour}\n\nInclude: 4-6 service cards with icons, descriptions, CTAs.\nUse header:\\n${d.header}\\nUse footer:\\n${d.footer}\\nReturn complete HTML in \\`\\`\\`html blocks.`;\nreturn { json: { prompt, ...d, currentPage: d.pages[1] } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                400
            ],
            "id": "prompt-services",
            "name": "Prompt - Services"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                400
            ],
            "id": "ai-services",
            "name": "AI - Services Page"
        },
        {
            "parameters": {
                "jsCode": "const ai = $input.first().json;\nconst page = $('Prompt - Services').item.json.currentPage;\nconst proj = $('Prompt - Services').item.json.project;\nlet html = '';\nif (ai.output) {\n  const m = ai.output.match(/```html([\\s\\S]*?)```/);\n  html = m ? m[1].trim() : ai.output;\n}\nreturn { json: { project_ref: proj.project_ref, page_name: page.name, page_slug: page.slug, page_order: page.order, page_html: html, is_generated: true } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                400
            ],
            "id": "parse-services",
            "name": "Parse - Services"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, 1) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                400
            ],
            "id": "save-services",
            "name": "Save - Services",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const d = $('Prepare vBronze Pages').item.json;\nconst prompt = `Create a Contact page for ${d.clientName} (${d.industrySector}).\nPhone: ${d.phone || 'Not provided'}\nEmail: ${d.email || 'Not provided'}\nBrand color: ${d.brandColour}\n\nInclude: Contact form, map placeholder, phone/email/WhatsApp, business hours.\nUse header:\\n${d.header}\\nUse footer:\\n${d.footer}\\nReturn complete HTML in \\`\\`\\`html blocks.`;\nreturn { json: { prompt, ...d, currentPage: d.pages[2] } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                600
            ],
            "id": "prompt-contact",
            "name": "Prompt - Contact"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                760,
                600
            ],
            "id": "ai-contact",
            "name": "AI - Contact Page"
        },
        {
            "parameters": {
                "jsCode": "const ai = $input.first().json;\nconst page = $('Prompt - Contact').item.json.currentPage;\nconst proj = $('Prompt - Contact').item.json.project;\nlet html = '';\nif (ai.output) {\n  const m = ai.output.match(/```html([\\s\\S]*?)```/);\n  html = m ? m[1].trim() : ai.output;\n}\nreturn { json: { project_ref: proj.project_ref, page_name: page.name, page_slug: page.slug, page_order: page.order, page_html: html, is_generated: true } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                600
            ],
            "id": "parse-contact",
            "name": "Parse - Contact"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO project_pages (project_ref, page_name, page_slug, page_html, page_order, is_generated) VALUES ('{{ $json.project_ref }}', '{{ $json.page_name }}', '{{ $json.page_slug }}', {{ JSON.stringify($json.page_html) }}, {{ $json.page_order }}, 1) ON DUPLICATE KEY UPDATE page_html = VALUES(page_html), is_generated = 1;",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1240,
                600
            ],
            "id": "save-contact",
            "name": "Save - Contact",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE projects SET pages_generated = 4, deployment_status = 'Pages_Complete' WHERE project_ref = '{{ $('MySQL - Get Project').item.json.project_ref }}';",
                "options": {}
            },
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2.5,
            "position": [
                1480,
                400
            ],
            "id": "update-count",
            "name": "Update Page Count",
            "credentials": {
                "mySql": {
                    "id": "d6FdnZlnAEJ1AtZJ",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"vbronze_complete\",\n  \"project_ref\": \"{{ $('MySQL - Get Project').item.json.project_ref }}\",\n  \"pages_generated\": 4,\n  \"pages\": [\"index\", \"about\", \"services\", \"contact\"]\n}",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1720,
                400
            ],
            "id": "respond",
            "name": "Respond"
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                760,
                800
            ],
            "id": "gemini",
            "name": "Google Gemini",
            "credentials": {
                "googlePalmApi": {
                    "id": "ZLZ470lIBf79ePht",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Expand vBronze": {
            "main": [
                [
                    {
                        "node": "MySQL - Get Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MySQL - Get Project": {
            "main": [
                [
                    {
                        "node": "Prepare vBronze Pages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare vBronze Pages": {
            "main": [
                [
                    {
                        "node": "Prompt - About",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prompt - Services",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prompt - Contact",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - About": {
            "main": [
                [
                    {
                        "node": "AI - About Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - About Page": {
            "main": [
                [
                    {
                        "node": "Parse - About",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - About": {
            "main": [
                [
                    {
                        "node": "Save - About",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - Services": {
            "main": [
                [
                    {
                        "node": "AI - Services Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - Services Page": {
            "main": [
                [
                    {
                        "node": "Parse - Services",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - Services": {
            "main": [
                [
                    {
                        "node": "Save - Services",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prompt - Contact": {
            "main": [
                [
                    {
                        "node": "AI - Contact Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - Contact Page": {
            "main": [
                [
                    {
                        "node": "Parse - Contact",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse - Contact": {
            "main": [
                [
                    {
                        "node": "Save - Contact",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save - About": {
            "main": [
                [
                    {
                        "node": "Update Page Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save - Services": {
            "main": [
                [
                    {
                        "node": "Update Page Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save - Contact": {
            "main": [
                [
                    {
                        "node": "Update Page Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Page Count": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI - About Page",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "AI - Services Page",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "AI - Contact Page",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "mtronika-vbronze"
    }
}